@import "../variables.less";

.fotoquest-image-carousel {
    .header {
        text-align: center;
    }

    .carousel-inner {
        width: 100%;
    }

    .carousel-inner > .item > a > img,
    .carousel-inner > .item > img {
        margin: auto;
    }
}
