<div class="main">
    <ul class="nav nav-pills justify-content-center">
        <li class="nav-item">
            <a class="nav-link" routerLink="/timeseries/diagram" routerLinkActive="active">{{'navigation.timeseries.diagram' | translate}}</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="/timeseries/map-selection" routerLinkActive="active">{{'navigation.timeseries.map' | translate}}</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="/timeseries/list-selection" routerLinkActive="active">{{'navigation.timeseries.list-selection' | translate}}</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="/timeseries/provider" routerLinkActive="active">{{'navigation.timeseries.provider' | translate}}</a>
        </li>
    </ul>
    <div class="content">
        <router-outlet></router-outlet>
    </div>
</div>