<ng-template #modalTimespanSelector let-c="close" let-d="dismiss">
    <div class="modal-header">
        <h4 class="modal-title">Timespan</h4>
        <button type="button" class="close" aria-label="Close" (click)="d()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <h5>Pre-defined</h5>
        <n52-predefined-timespan-selector [timespan]="timespan" (onTimespanChange)="noteChangedTimespan($event)"></n52-predefined-timespan-selector>
        <h5 style="margin-top:15px">Custom</h5>
        <n52-timespan-selector [timespan]="timespan" (onTimespanChange)="noteChangedTimespan($event)"></n52-timespan-selector>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-light" (click)="applyNewTimespan();c();">Ok</button>
        <button type="button" class="btn btn-light" (click)="c();">Cancel</button>
    </div>
</ng-template>

<div class="btn-group">
    <button type="button" class="btn btn-light" (click)="back()">
        <span class="fa fa-arrow-left"></span>
    </button>
    <button type="button" class="btn btn-light" (click)="open(modalTimespanSelector)">
        {{timespan.from | date : 'y-MM-dd HH:mm:ss'}} &nbsp;&ndash;&nbsp; {{timespan.to | date : 'y-MM-dd HH:mm:ss'}}
    </button>
    <button type="button" class="btn btn-light" (click)="forward()">
        <span class="fa fa-arrow-right"></span>
    </button>
</div>
