<div class="legendItem" style="position: relative;" [ngClass]="{'selected': selected}" (click)="toggleSelection()">
  <div class="legendItemheader">
    <div class="legendItemLabel">
      <n52-label-mapper label="{{dataset?.parameters.platform.label}}"></n52-label-mapper>
    </div>
    <div class="small">
      <n52-label-mapper label="{{dataset?.parameters.phenomenon.label}}"></n52-label-mapper>
      <span *ngIf="dataset?.uom">[
        <n52-label-mapper label="{{dataset.uom}}"></n52-label-mapper>]</span>
    </div>
    <!-- <div class="small">
      <n52-label-mapper label="{{dataset?.parameters.procedure.label}}"></n52-label-mapper>
    </div>
    <div class="small" *ngIf="dataset?.parameters.category.label != dataset?.parameters.phenomenon.label">
      <n52-label-mapper label="{{dataset?.parameters.category.label}}"></n52-label-mapper>
    </div> -->
  </div>
  <div *ngFor="let item of datasetOptions">
    <div class="dataset-item">
      <span
        [ngStyle]="{'color': item.color}">{{item.timestamp | date: 'short': null : translateSrvc.currentLang}}</span>
      <span class="fa" [ngClass]="{'fa-eye-slash': item.visible, 'fa-eye': !item.visible}"
        (click)="toggleVisibility(item); $event.stopPropagation();"
        title="{{'profiles.legend.visibility' | translate}}"></span>
      <span class="fa fa-pencil-alt" (click)="editDatasetOptions(item); $event.stopPropagation();"
        [ngStyle]="{color: item.color}" title="{{'profiles.legend.edit-style' | translate}}"></span>
      <span class="fa fa-map-marker-alt" (click)="showGeometry(item); $event.stopPropagation();"
        title="{{'profiles.legend.show-geometry' | translate}}"></span>
      <span class="fa fa-times" (click)="removeDatasetOptions(item); $event.stopPropagation();"
        title="{{'profiles.legend.delete-subentry' | translate}}"></span>
      <n52-custom-dataset-permalink-download [internalId]="datasetId" [timeInterval]="getTimeInterval(item.timestamp)">
      </n52-custom-dataset-permalink-download>
    </div>
    <!-- temporarly disabled -->
    <!-- <div (click)="$event.stopPropagation();">
      <span class="fa fa-download"></span>
      <n52-dataset-download [internalId]="internalIdHandler.resolveInternalId(item.internalId)"
        [timeInterval]="{'from': item.timestamp}" [language]=""></n52-dataset-download>
    </div> -->
    <div (click)="openInCombiView(item); $event.stopPropagation();" *ngIf="dataset?.isMobile" class="toCombiView">
      <span class="fa fa-arrow-right"></span>
      <span>{{'profiles.legend.go-to-combi-view' | translate}}</span>
    </div>
  </div>
</div>
