<div *ngIf="loadingCount > 0">
  <span>Requesting {{loadingCount}} providers...</span>
</div>
<div class="service-list">
  <div class="service-item" *ngFor="let service of services" (click)="selectService(service)" [ngClass]="{'selected': isSelected(service)}">
    <div>{{service.label}}</div>
    <div class="small">{{service.type}}, {{service.version}}
    </div>
    <div class="small" *ngIf="service.serviceUrl">{{'service-selector.service-url' | translate}}: {{service.serviceUrl}}</div>
    <div class="small">
      <span *ngIf="service.quantities.stations">{{'service-selector.stations' | translate}}: {{service.quantities.stations}}</span>
      <span *ngIf="service.quantities.platforms">{{'service-selector.platforms' | translate}}: {{service.quantities.platforms}}</span>
      <span *ngIf="service.quantities.timeseries">{{'service-selector.timeseries' | translate}}: {{service.quantities.timeseries}}</span>
      <span *ngIf="service.quantities.datasets">{{'service-selector.datasets' | translate}}: {{service.quantities.datasets}}</span>
      <span>{{'service-selector.phenomena' | translate}}: {{service.quantities.phenomena}}</span>
    </div>
  </div>
  <div *ngFor="let item of unResolvableServices">
    <div class="unresolvable-service">{{item.name}} is currently not reachable</div>
  </div>
</div>
