<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
<display-name>client - version 1.0.0 - build at 2017-03-10 10:11</display-name>
<welcome-file-list><welcome-file>index.html</welcome-file></welcome-file-list>
<mime-mapping><extension>woff</extension><mime-type>application/font-woff</mime-type></mime-mapping>
</web-app>
