@import "../variables.less";

@drag-color: fade(blue,40%);;

.combi-mobile {
  height: 100%;
  .combi-header {
    height: 30px;
    background-color: red;
  }
  .combi-body {
    height: 100%;
    .map,
    .chart {
      position: relative;
      height: 50%;
      .axis {
        text{
          font-size: 12px;
        }            
        path,
        line{
          fill: none;
          stroke:black;
        }
      }
      .graphArea {
        fill: lightsteelblue;
        fill-opacity: 0.7;
      }
      .grid .tick {
        stroke: lightgrey;
        stroke-opacity: 0.7;
        shape-rendering: crispEdges;
      }
      .map-highlight-label{
        fill: white;
        fill-opacity: 0.7;
      }
      .mouse-focus-line {
        pointer-events: none;
        stroke-width: 1px;
        stroke: black;
      }
      .mouse-drag{
        fill:@drag-color;
        pointer-events: all;
        cursor: move;
      }
    }  
  }
}

.map-buttons {
  position: absolute;
  z-index: 11;
  bottom: 0;
  width: 50%;
  margin: 0 25% 17px;
  text-align: center;
}