:host {
    .empty-diagram {
        text-align: center;
        font-size: 20px;
        padding: 50px;
    }

    .legend {
        padding: 10px;
        flex: 0 0 30%;
    }

    .diagram {}

    .overview-diagram {
        flex: 0 0 120px;
    }

    .control-bar {
        flex: 0 0 50px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}
