<div class="fullHeight">
    <div class="empty-diagram" *ngIf="timeseries.length == 0">
        <span>Sie haben keine Zeitreihe ausgewählt, die gewählten Zeitreihen haben keine Werte in dem derzeitigen Zeitraum oder die Zeitreihen sind unsichtbar.</span>
    </div>
    <div class="hbox fullHeight" *ngIf="timeseries.length > 0">
        <div class="boxItem vbox fullHeight">
            <div class="boxItem diagram">
                <n52-flot-diagram [datasets]="timeseries" [data]="data" [options]="diagramOptions" [timespan]="timespan" (onTimespanChanged)="timeChanged($event)"></n52-flot-diagram>
            </div>
            <div class="boxItem overview-diagram">
                <n52-flot-overview-diagram [datasets]="timeseries" [rangefactor]="2" [options]="overviewOptions" [timespan]="timespan" (onTimespanChanged)="timeChanged($event)"></n52-flot-overview-diagram>
            </div>
            <div class="boxItem control-bar">
                <!-- <swc-refresh-time></swc-refresh-time> -->
                <!-- <swc-reload-button></swc-reload-button> -->
                <!-- <swc-yaxis-hide-button></swc-yaxis-hide-button> -->
                <n52-timespan-shift-selector [timespan]="timespan" (onTimespanChanges)="timeChanged($event)"></n52-timespan-shift-selector>
                <!-- <a class="btn btn-default" data-action="dataTable" ng-click="toggle()"><span class="glyphicon glyphicon-list"></span></a> -->
            </div>
        </div>
        <div class="boxItem fullHeight legend">
            <h3 class="header">Legende</h3>
            <div class="legend-entry">
                <div *ngFor="let entry of timeseries">
                    <n52-legend-entry [dataset]="entry" (onDeleteDataset)="delete(entry)" (onSelectDate)="jumpToDate($event)"></n52-legend-entry>
                </div>
            </div>
        </div>
    </div>
</div>
