@import "../variables.less"; 

.diagram {
    bottom: 145px !important;
}

#overviewChart {
    position: absolute; 
    bottom: 45px; 
    height: 100px; 
    width: 100%;
    .loading {
        position: absolute;
    }
    flot {
        position: absolute; 
        height: 100px; 
        width: 100%;
    }
}