<div class="combi-mobile">
    <div class="combi-header" ng-hide="series.label === undefined">
        <swc-mobile-reload dataset-id="series.id" provider-url="series.providerUrl" class="header-button"></swc-mobile-reload>
        <div>
            <span>{{series.label}}</span>
        </div>
        <!-- <div>
            <span>{{series.seriesParameters.phenomenon.label || series.parameters.phenomenon.label}}</span>
            <span ng-hide="series.uom === undefined">({{series.uom}})</span>
        </div> -->
    </div>
    <div class="combi-body">
        <div class="map">
            <leaflet id="mobileCombiMap" paths="paths" geojson="geometry" series="series" event-broadcast="events" width="100%" height="100%"></leaflet>
            <div class="mapNotifier" ng-if="series.loading">
                <div>
                    <div class="glyphicon glyphicon-refresh icon-spin"></div>
                    <div translate="trajectories.map.loading"></div>
                </div>
            </div>
            <div class="map-options">
                <swc-mobile-map-path-toggler></swc-mobile-map-path-toggler>
            </div>
        </div>
        <div class="chart-container">
            <div class="chart">
                <d3-linear-chart></d3-linear-chart>
                <div class="chart-information">
                    <span class="glyphicon glyphicon-exclamation-sign" title="{{'trajectories.diagram.hint' | translate}}"></span>
                </div>
            </div>
            <div class="chart-buttons">
                <swc-mobile-axis-toggler axis-type="distance" icon="road" selected-axis-type="options.axisType" tooltip="trajectories.diagram.distanceTooltip"></swc-mobile-axis-toggler>
                <swc-mobile-axis-toggler axis-type="time" icon="time" selected-axis-type="options.axisType" tooltip="trajectories.diagram.timeTooltip"></swc-mobile-axis-toggler>
                <swc-mobile-axis-toggler axis-type="ticks" icon="option-horizontal" selected-axis-type="options.axisType" tooltip="trajectories.diagram.ticksTooltip"></swc-mobile-axis-toggler>
                <hr>
                <swc-mobile-chart-draw-line-toggler></swc-mobile-chart-draw-line-toggler>
                <swc-multi-phenomenon-button dataset="series" feature="series.seriesParameters.feature || series.parameters.feature" selected-phenomena="phenomenaList" on-selected-phenomena-changed="onSelectedPhenomenaChanged(phenomenaList)"></swc-multi-phenomenon-button>
            </div>
        </div>
    </div>
</div>
