<div class="modal-content">
    <div class="modal-header">
        <button type="button" class="close" ng-click="close()">&times;</button>
        <div class="modal-title" translate="listSelection_mobile.header"></div>
    </div>
    <div class="modal-body">
        <tabset class="selectionListContent">
            <tab>
                <tab-heading>
                    <span translate="listSelection_mobile.headers.ship"></span>
                </tab-heading>
                <swc-list-selection-mobile parameters="shipParams"></swc-list-selection>
            </tab>
            <tab>
                <tab-heading>
                    <span translate="listSelection_mobile.headers.phenomenon"></span>
                </tab-heading>
                <swc-list-selection-mobile parameters="phenomenonParams"></swc-list-selection>
            </tab>
        </tabset>
    </div>
</div>