<div class="modal-content" ng-controller="SwcProviderListCtrl">

    <div class="modal-header">
        <button type="button" class="close" ng-click="close()">&times;</button>
        <div class="modal-title" translate="listSelection_mobile.header"></div>
    </div>

    <div class="modal-body provider-list" 
         ng-if="!providerselected" >

        <span>Provider Auswählen</span>

        <div class="provider-item" ng-repeat="provider in providerList" ng-if="provider.url.indexOf('v2') > -1"
             ng-class="{selected : provider.selected}" ng-click="selectProvider(provider)">
            <div>{{provider.label}}</div>
            <div class="small">{{provider.type}}, {{provider.version}}</div>
            <div class="small">{{provider.url}}</div>
            <div class="small">
                <span ng-if="provider.quantities.stations">
                    <span translate="map.providerList.stations"></span>
                    <span>: {{provider.quantities.stations}}</span>
                </span>
                <span ng-if="provider.quantities.platforms">
                    <span translate="map.providerList.platforms"></span>
                    <span>: {{provider.quantities.platforms}}</span>
                </span>
                <span ng-if="provider.quantities.series">
                    <span translate="map.providerList.timeseries"></span>
                    <span>: {{provider.quantities.series}}</span>
                </span>
                <span ng-if="provider.quantities.timeseries">
                    <span translate="map.providerList.timeseries"></span>
                    <span>: {{provider.quantities.timeseries}}</span>
                </span>
                <span translate="map.providerList.phenomena"></span>
                <span>: {{provider.quantities.phenomena}}</span>
            </div>
        </div>
    </div>

    <div class="modal-body" ng-if="providerselected" >
        <uib-tabset class="selectionListContent">
            <uib-tab>
                <tab-heading>
                    <span translate="listSelection_mobile.headers.platform"></span>
                </tab-heading>
                <swc-list-selection-mobile parameters="platformParams"></swc-list-selection>
            </uib-tab>
            <uib-tab>
                <tab-heading>
                    <span translate="listSelection_mobile.headers.phenomenon"></span>
                </tab-heading>
                <swc-list-selection-mobile parameters="phenomenonParams"></swc-list-selection>
            </uib-tab>
        </uib-tabset>
    </div>


</div>