<div class="modal-content" ng-controller="SwcProviderListCtrl">
    
    <div class="modal-header">
        <button type="button" class="close" ng-click="close()">&times;</button>
        <div class="modal-title" translate="listSelection_mobile.header"></div>
    </div>
    
    <div class="modal-body-2" 
         ng-if="!providerselected" >

        <span>Provider Auswählen</span>

        <div class="providerItem" ng-repeat="provider in providerList" ng-if="provider.url.indexOf('v2')>-1">
            <div class="item" ng-class="{selected : provider.selected}" ng-click="selectProvider(provider)">
                <div>{{provider.label}}</div>
                <div class="small">{{provider.type}}, {{provider.version}}</div>
                <div class="small">{{provider.url}}</div>
                <span ng-if="provider.quantities.stations">
                    <span class="small" translate="map.providerList.stations"></span>
                    <span class="small">: {{provider.quantities.stations}}</span>
                </span>
                <span ng-if="provider.quantities.platforms">
                    <span class="small" translate="map.providerList.platforms"></span>
                    <span class="small">: {{provider.quantities.platforms}}</span>
                </span>
                <span ng-if="provider.quantities.series">
                    <span class="small" translate="map.providerList.timeseries"></span>
                    <span class="small">: {{provider.quantities.series}}</span>
                </span>
                <span ng-if="provider.quantities.timeseries">
                    <span class="small" translate="map.providerList.timeseries"></span>
                    <span class="small">: {{provider.quantities.timeseries}}</span>
                </span>
                <span class="small" translate="map.providerList.phenomena"></span>
                <span class="small">: {{provider.quantities.phenomena}}</span>
            </div> 
        </div>
        <!--<div class="btn btn-block btn-default" 
             ng-controller="SwcProviderDeselectProviderCtrl"
             ng-click="deselectAll(); close();">
            <div translate="map.providerList.selectAll"></div>
        </div>-->
        
    </div>
    
    <div class="modal-body" ng-if="providerselected" >
            <uib-tabset class="selectionListContent">
                <uib-tab>
                    <tab-heading>
                        <span translate="listSelection_mobile.headers.ship"></span>
                    </tab-heading>
                    <swc-list-selection-mobile parameters="shipParams"></swc-list-selection>
                </uib-tab>
                <uib-tab>
                    <tab-heading>
                        <span translate="listSelection_mobile.headers.phenomenon"></span>
                    </tab-heading>
                    <swc-list-selection-mobile parameters="phenomenonParams"></swc-list-selection>
                </uib-tab>
            </uib-tabset>
        </div>

    
</div>