<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"><display-name>Helgoland</display-name><description>Helgoland client version 0.0.0 - built at Tue Sep 03 2019 13:57:10 GMT+0200 (CEST)</description><welcome-file-list welcome-file="index.html"></welcome-file-list><mime-mapping extension="woff" mime-type="application/font-woff"></mime-mapping><error-page error-code="404" location="/index.html"></error-page></web-app>