@import "../../../variables";


:host {
    --bsh-blau:#1b5291;
    --bsh-blau80:#4874a7;
    --bsh-blau70:#5f85b2;
    --bsh-blau40:#a3b9d3;
    --bsh-blau20:#d1dce9;
    --bsh-blau10:#e8edf4;
    --bg-color:#01659d;

    $nav-pills-link-active-color: var(--bsh-blau);

    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;


    .navbar {
        flex: 0 0 56px;
        background-color: var(--bsh-blau);


        .nav-item {
            background-color: white;
            margin-left: 10px;
            border-radius: 0.375rem;
        }

        .nav-link {
            color: var(--bsh-blau);
            border-radius: 0.375rem;

            &:hover {
                background-color: var(--bsh-blau40);
            }

            &.active {
                background-color: $primary;
            }
        }

        .navbar-brand {
            height: 56px;
            width: auto;
            padding-top: 0;
            padding-bottom: 0;

            img {
                height: 200%;
                background: white;
                padding: 0.5rem;
                margin-top: -1rem;
            }
        }

    }

    .content {
        flex: 1;
        position: relative;
    }

    @media (width < 576px) {
        .navbar-brand {
            margin-bottom: 25px;
        }

        #navbarSupportedContent {
            margin-top: 20px;
        }

        .nav-item {
            margin-top: 4px;
        }
    }
    @media (width < 170px) {

        #navbarSupportedContent {
            margin-top: 4px;
        }

        .navbar-toggler {
            margin-top: 56px;
        }
    }
}