<div class="header container-fluid">
  <div class="row">
    <div class="logo-wrapper">
      <a href="https://www.seadatanet.org/" target="_blank">
        <img src="https://www.seadatanet.org/bundles/ifremersnsseadatanet3skin/images/logos/logo.png"
          alt="Back to home">
      </a>
    </div>
    <div class="header-title">
      <div class="title">
        Pan-European infrastructure for ocean & marine data management
      </div>
    </div>

    <div class="header-controls">
      <div class="controls">
        <div routerLink="/timeseries" class="control" routerLinkActive="active">
          {{'navigation.timeseries.main' | translate}}</div>
        <div routerLink="/trajectories" class="control" routerLinkActive="active">
          {{'navigation.trajectories.main' | translate}}</div>
        <div routerLink="/profiles" class="control" routerLinkActive="active">{{'navigation.profiles.main' | translate}}
        </div>
      </div>
    </div>

    <div class="header-controls language-selector">
      <div class="controls">
        <n52-local-selector *ngIf="languageList" [languageList]="languageList"></n52-local-selector>
      </div>
    </div>

  </div>
</div>

<div class="content">
  <router-outlet></router-outlet>
</div>
