<nav class="navbar navbar-expand-sm navbar-light bg-primary">
  <a class="navbar-brand" href="#">52N-Helgoland</a>
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item" routerLinkActive="active">
        <a routerLink="/timeseries" class="nav-link">{{'navigation.timeseries.main' | translate}}</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a routerLink="/trajectories" class="nav-link">{{'navigation.trajectories.main' | translate}}</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a routerLink="/profiles" class="nav-link">{{'navigation.profiles.main' | translate}}</a>
      </li>
    </ul>
    <n52-local-selector *ngIf="languageList" [languageList]="languageList"></n52-local-selector>
  </div>
</nav>
<div class="content">
  <router-outlet></router-outlet>
</div>