/* colors */
/* mobile */
.btn-file {
  position: relative;
  overflow: hidden;
}
.btn-file input[type=file] {
  position: absolute;
  top: 0;
  right: 0;
  min-width: 100%;
  min-height: 100%;
  text-align: right;
  filter: alpha(opacity=0);
  opacity: 0;
  outline: none;
  background: white;
  cursor: inherit;
  display: block;
}
.favorites {
  /*    height: inherit;*/
  position: relative;
  overflow: auto;
}
.favorites .favorite-container {
  color: #004890;
  padding: 5px;
}
.favorites .favorite-container .favorite-entry {
  border: 1px solid #004890;
  word-break: break-all;
}
.favorites .favorite-container .favorite-entry:hover {
  cursor: pointer;
  background-color: #ff9f00;
}
.favorites .favorite-container .favorite-entry .favorite-header {
  padding: 5px;
  font-size: 120%;
  background-color: rgba(255, 255, 255, 0.5);
}
.favorites .favorite-container .favorite-entry .favorite-header .header-label {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.favorites .favorite-container .favorite-entry .favorite-header .header-label:hover {
  cursor: text;
}
.favorites .favorite-container .favorite-entry .favorite-header .favorite-icons {
  float: right;
}
.favorites .favorite-container .favorite-entry .favorite-header .favorite-icons span {
  margin-left: 3px;
  cursor: pointer;
}
.favorites .favorite-container .favorite-entry .favorite-body-entry {
  font-size: 80%;
  margin: 5px;
}
.favorites .favorite-container .favorite-entry .favorite-body-entry + .favorite-body-entry {
  border-top: 1px solid rgba(0, 72, 144, 0.3);
  padding-top: 5px;
}
.import-export-btns {
  padding-top: 20px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
.star {
  margin-left: 5px;
  cursor: pointer;
}
