<div class="container">
  <div class="row timespanpicker">
    <div class="datetimepicker">
      <h6>{{'timeseries.timespan-selector.from-date' | translate}}</h6>
      <div>
        <div class="row">
          <div class="col input-group align-items-center">
            <input class="form-control" placeholder="yyyy-mm-dd" name="dp-from" readonly ngbDatepicker #datepickerFrom="ngbDatepicker" [(ngModel)]="dateFrom" (ngModelChange)="timespanChanged()" [startDate]="{year: dateFrom.year, month: dateFrom.month}">
            <div class="input-group-append">
              <button class="btn btn-outline-secondary calendar" (click)="datepickerFrom.toggle()" type="button">
                <span class="fa fa-calendar"></span>
              </button>
            </div>
          </div>
          <div class="col">
            <ngb-timepicker #timepickerFrom [(ngModel)]="timeFrom" (ngModelChange)="timespanChanged()" [seconds]="true"></ngb-timepicker>
          </div>
        </div>
      </div>
    </div>
    <div class="datetimepicker">
      <h6>{{'timeseries.timespan-selector.to-date' | translate}}</h6>
      <div>
        <div class="row">
          <div class="col input-group align-items-center">
            <input class="form-control" placeholder="yyyy-mm-dd" name="dp-To" readonly ngbDatepicker #datepickerTo="ngbDatepicker" [(ngModel)]="dateTo" (ngModelChange)="timespanChanged()" [startDate]="{year: dateTo.year, month: dateTo.month}">
            <div class="input-group-append">
              <button class="btn btn-outline-secondary calendar" (click)="datepickerTo.toggle()" type="button">
                <span class="fa fa-calendar"></span>
              </button>
            </div>
          </div>
          <div class="col">
            <ngb-timepicker #timePickerTo [(ngModel)]="timeTo" (ngModelChange)="timespanChanged()" [seconds]="true"></ngb-timepicker>
          </div>
        </div>
      </div>
      <!-- TODO-CF: Provide easy "resets" for time (e.g. midnight, noon etc., or at least seconds=00 and minutes=00) -->
    </div>
  </div>
  <div class="row">
      <ngb-alert class="col" *ngIf="showErrorMessage" type="danger" (close)="showErrorMessage = false">
          {{'timeseries.timespan-selector.invalid-timespan-error' | translate}}
      </ngb-alert>
  </div>
</div>
