/* colors */
/* mobile */
.procedure-metadata table > tbody > tr > td {
  padding: 2px;
}
.procedure-metadata table > tbody > tr:first-child > td {
  border: none;
}
.procedure-metadata h4 {
  text-align: center;
}
