<div class="modal-header">
    <h4 class="modal-title">Timespan</h4>
    <button type="button" class="close" aria-label="Close" (click)="cancel()">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    <h5>Pre-defined</h5>
    <n52-predefined-timespan-selector [timespan]="timespan" (onTimespanChange)="noteChangedTimespan($event);applyNewTimespan();"></n52-predefined-timespan-selector>
    <h5 style="margin-top:15px">Custom</h5>
    <n52-timespan-selector [timespan]="timespan" (onTimespanChange)="noteChangedTimespan($event)" (onInvalidTimespanSelected)="noteInvalidTimespan($event)"></n52-timespan-selector>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-light" (click)="applyNewTimespan();" [disabled]="!tempTimespanIsValid">Ok</button>
    <button type="button" class="btn btn-light" (click)="cancel();">Cancel</button>
</div>