n52-map-selection {
    width: 100%;
    .wrapper {
        height: 100%;
        ngb-tabset {
            display: flex;
            flex-direction: column;
            height: 100%;
            .tab-content {
                flex: 1;
                display: flex;
                flex-direction: column;
                padding: 20px;
                overflow: hidden;
                .tab-pane {
                    display: flex;
                    flex-direction: column;
                    flex: 1;
                    overflow: auto;
                    .map-content {
                        flex: 1;
                        display: flex;
                        .map {
                            width: 65%;
                            position: relative;
                            .locate-control {
                                position: absolute;
                                left: 25px;
                                top: 80px;
                                border-radius: 5px;
                            }
                            .zoom-control {
                                position: absolute;
                                left: 25px;
                                top: 10px;
                                border-radius: 5px;
                            }
                        }
                        .phenomenon-list {
                            height: 100%;
                            flex: 1 1 auto;
                            overflow-y: auto;
                            width: 35%;
                            padding: 10px;
                        }
                    }
                }
            }
        }
    }
}