<div class="main">
  <ul class="nav nav-pills justify-content-center">
    <li class="nav-item">
      <a class="nav-link" routerLink="/profiles/diagram" routerLinkActive="active">Diagramm</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/profiles/selection" routerLinkActive="active">Auswahl</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/profiles/combi" routerLinkActive="active">Kombinierte Ansicht</a>
    </li>
  </ul>
  <div class="content">
    <router-outlet></router-outlet>
  </div>
</div>