<ng-template #modalTimeseriesStyleSelector let-c="close" let-d="dismiss">
    <div class="modal-header">
        <h4 class="modal-title">Timeseries style</h4>
        <button type="button" class="close" aria-label="Close" (click)="d()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <n52-timeseries-style-selector [timeseriesColor]="datasetOptions.color" (onColorChange)="tempColor = $event"></n52-timeseries-style-selector>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-light" (click)="updateColor(); c();">Ok</button>
        <button type="button" class="btn btn-light" (click)="c();">Cancel</button>
    </div>
</ng-template>

<div class="legendItem" style="position: relative;" [ngStyle]="{'border-color': datasetOptions.color}" [ngClass]="{'selected': selected}" (click)="toggleSelection()">
    <div class="loading-overlay" *ngIf="datasetOptions.loading" [ngStyle]="{'background-color': datasetOptions.color}">
        <div class="fa fa-refresh fa-spin fa-3x fa-fw"></div>
    </div>
    <div ng-controller="SwcToggleInformationCtrl">
        <div class="legendItemheader">
            <div class="legendItemLabel" [ngStyle]="{'color': datasetOptions.color}">
                <n52-label-mapper label="{{platformLabel}}"></n52-label-mapper>
            </div>
            <div class="noDataWarning firstLastEntry" *ngIf="!hasData">
                <div>
                    <span class="fa fa-exclamation-triangle red"></span>
                    <span class="small">Keine Daten verfügbar</span>
                </div>
                <div class="additionalLegendEntry" (click)="jumpToLastTimeStamp(); $event.stopPropagation();">
                    <span class="fa fa-chevron-right"></span>
                    <span class="small">Springe zur letzten Messung</span>
                </div>
            </div>
            <div class="small">
                <n52-label-mapper label="{{phenomenonLabel}}"></n52-label-mapper>
                <span *ngIf="uom">[<n52-label-mapper label="{{uom}}"></n52-label-mapper>]</span>
            </div>
            <div class="small">
                <n52-label-mapper label="{{procedureLabel}}"></n52-label-mapper>
            </div>
            <div class="small" *ngIf="categoryLabel != phenomenonLabel">
                <n52-label-mapper label="{{categoryLabel}}"></n52-label-mapper>
            </div>
        </div>
        <div class="legendicons">
            <span class="fa" [ngClass]="{'fa-eye-slash': datasetOptions.visible, 'fa-eye': !datasetOptions.visible}" (click)="toggleVisibility(); $event.stopPropagation();"></span>
            <!-- <swc-timeseries-geometry-view-button series="timeseries"></swc-timeseries-geometry-view-button> -->
            <span class="fa fa-pencil" (click)="open(modalTimeseriesStyleSelector); $event.stopPropagation();" [ngStyle]="{color: datasetOptions.color}"></span>
            <span class="fa fa-info" (click)="toggleInformation(); $event.stopPropagation();"></span>
            <span class="fa fa-times" (click)="removeDataset(); $event.stopPropagation();"></span>
        </div>
        <div class="collapseLegendEntry small" *ngIf="informationVisible">
            <div class="firstLastEntry additionalLegendEntry" *ngIf="firstValue" (click)="jumpToFirstTimeStamp(); $event.stopPropagation();">
                <span class="fa fa-chevron-right"></span>
                <span>Erster Wert bei</span>
                <span>{{firstValue.timestamp| date: 'dd.MM.yy HH:mm'}}</span>
                <span class="hidden-medium">({{firstValue.value}} {{uom}})</span>
            </div>
            <div class="firstLastEntry additionalLegendEntry" *ngIf="lastValue" (click)="jumpToLastTimeStamp(); $event.stopPropagation();">
                <span class="fa fa-chevron-right"></span>
                <span>Letzter Wert bei</span>
                <span>{{lastValue.timestamp| date: 'dd.MM.yy HH:mm'}}</span>
                <span class="hidden-medium">({{lastValue.value}} {{uom}})</span>
            </div>
            <!-- <div class="refEntry additionalLegendEntry" ng-repeat="refValue in timeseries.referenceValues" ng-class="{selected : refValue.visible}" ng-style="{'border-color': refValue.color}" ng-controller="SwcToggleRefValueCtrl" ng-click="$event.stopPropagation(); selectRefValue(refValue, timeseries)">
                <span class="glyphicon glyphicon-chevron-right"></span>
                <span>{{refValue.label}}</span>
            </div>
            <div class="additionalLegendEntry" ng-controller="SwcExportToCsvCtrl" ng-click="$event.stopPropagation(); createExportCsv(timeseries)">
                <span class="glyphicon glyphicon-download"></span>
                <span translate="export.label"></span>
            </div> -->
            <!-- <div class="additionalLegendEntry">
                <swc-procedure-metadata timeseries='timeseries'></swc-procedure-metadata>
                <swc-timeseries-raw-data-output timeseries='timeseries'></swc-timeseries-raw-data-output>
                <swc-sos-url timeseries='timeseries'></swc-sos-url>
            </div> -->
        </div>
    </div>
</div>
