<div class="container" *ngIf="providerList">
  <ngb-tabset>
    <ngb-tab>
      <ng-template ngbTabTitle>{{'timeseries.list-selection.category' | translate}}</ng-template>
      <ng-template ngbTabContent>
        <n52-list-selector [parameters]="categoryParams" [selectorId]="'category'" [providerList]="providerList" (onDatasetSelection)="onDatasetSelected($event)"></n52-list-selector>
      </ng-template>
    </ngb-tab>
    <ngb-tab>
      <ng-template ngbTabTitle>{{'timeseries.list-selection.station' | translate}}</ng-template>
      <ng-template ngbTabContent>
        <n52-list-selector [parameters]="stationParams" [selectorId]="'station'" [providerList]="providerList" (onDatasetSelection)="onDatasetSelected($event)"></n52-list-selector>
      </ng-template>
    </ngb-tab>
    <ngb-tab>
      <ng-template ngbTabTitle>{{'timeseries.list-selection.phenomenon' | translate}}</ng-template>
      <ng-template ngbTabContent>
        <n52-list-selector [parameters]="phenomenonParams" [selectorId]="'phenomenon'" [providerList]="providerList" (onDatasetSelection)="onDatasetSelected($event)"></n52-list-selector>
      </ng-template>
    </ngb-tab>
    <ngb-tab>
      <ng-template ngbTabTitle>{{'timeseries.list-selection.sensor' | translate}}</ng-template>
      <ng-template ngbTabContent>
        <n52-list-selector [parameters]="procedureParams" [selectorId]="'procedure'" [providerList]="providerList" (onDatasetSelection)="onDatasetSelected($event)"></n52-list-selector>
      </ng-template>
    </ngb-tab>
  </ngb-tabset>
</div>

<div *ngIf="!providerList" class="container n52-alert">
  <div class="alert alert-primary" role="alert">
    <a routerLink="/timeseries/provider" class="alert-link">{{'timeseries.list-selection.hint' | translate}}</a>
  </div>
</div>