<div class="modal-content">
    <div class="modal-header">
        <button type="button" ng-click="close();" class="close">&times;</button>
        <div class="modal-title" translate="contacts.header"></div>
    </div>
    <div class="modal-body contact-view">
        <div class="contact-block">
            <img src="images/nexos-logo.png"/>
            <p>This Sensor Web viewer is a result of the NeXOS project.</p>
            <p>NeXOS Coordinator: Eric Delory</p>
            <p>Deputy Coordinator: Ayoze Castro</p>
            <p>Project Manager: Simone Memè</p>
            <p>Plataforma Oceánica de Canarias</p>
            <p>Carretera de Taliarte, s/n. 35214 Telde - Las Palmas - España</p>
            <p>Phone: +34 928 134 414 / Fax: +34 928 133 032</p>
            <p>Email: info@nexosproject.eu</p>
        </div>
        <div class="contact-block">
            <img src="images/52n-logo.gif"/>
            <p>The development of this viewer was performed by the NeXOS partner
            52°North. For questions about this viewer and the underlying Sensor
            Web components please contact info@52north.org</p>
        </div>
        <div class="contact-block">
            <img class="logo_eu"/>
            <p>NeXOS has received funding from the European Union’s Seventh Programme
            for research, technological development and demonstration under grant
            agreement No 614102</p>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-primary" translate="ok" ng-click="close();"></button>
    </div>
</div>
