/* colors */
/* mobile */
.diagram {
  bottom: 145px !important;
}
@media screen and (max-width: 768px) {
  .diagram {
    bottom: 45px !important;
  }
  #overviewChart {
    display: none;
  }
}
#overviewChart {
  position: absolute;
  bottom: 45px;
  height: 100px;
  width: 100%;
}
#overviewChart .loading-overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 1;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,000000+0&0.65+0,0.65+0,0.65+0,0.65+4,0.65+4,0.65+5,0.65+5,0.65+9,0.65+11,0+73 */
  /*background: -moz-radial-gradient(center, cirle,  rgba(0,0,0,0.65) 0%, rgba(0,0,0,0.65) 4%, rgba(0,0,0,0.65) 5%, rgba(0,0,0,0.65) 9%, rgba(0,0,0,0.65) 11%, rgba(0,0,0,0) 73%);  FF3.6-15 */
  /*background: -webkit-radial-gradient(center, circle,  rgba(0,0,0,0.65) 0%,rgba(0,0,0,0.65) 4%,rgba(0,0,0,0.65) 5%,rgba(0,0,0,0.65) 9%,rgba(0,0,0,0.65) 11%,rgba(0,0,0,0) 73%);  Chrome10-25,Safari5.1-6 */
  background: radial-gradient(#ffffff 0%, rgba(255, 255, 255, 0) 60%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  /*filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6000000', endColorstr='#00000000',GradientType=1 );  IE6-9 fallback on horizontal gradient */
}
#overviewChart .loading-overlay .icon-spin {
  font-size: 30px;
  width: 30px;
  height: 30px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -15px 0 0 -15px;
  color: #004890;
}
#overviewChart flot {
  position: absolute;
  height: 100px;
  width: 100%;
}
