<div class="legendItem" style="position: relative;" [ngStyle]="{'border-color': datasetOptions?.color}"
  [ngClass]="{'selected': selected}" (click)="toggleSelection()">
  <div class="loading-overlay" *ngIf="loading" [ngStyle]="{'background-color': datasetOptions?.color}">
    <div class="fa fa-refresh fa-spin fa-3x fa-fw"></div>
  </div>
  <div>
    <div class="legendItemheader" [ngClass]="{'highlight': highlight}">
      <div class="legendItemLabel" [ngStyle]="{'color': datasetOptions?.color}">
        <n52-label-mapper label="{{dataset?.platform.label}}"></n52-label-mapper>
        <n52-favorite-toggler [dataset]="dataset"></n52-favorite-toggler>
      </div>
      <div class="noDataWarning firstLastEntry" *ngIf="!hasData">
        <div>
          <span class="fa fa-exclamation-triangle red"></span>
          <span class="small-label">{{'timeseries.diagram.legend.entry.no-data-available' | translate}}</span>
        </div>
        <div class="additionalLegendEntry" (click)="jumpToLastTimeStamp(); $event.stopPropagation();">
          <span class="fa fa-chevron-right"></span>
          <span class="small-label">{{'timeseries.diagram.legend.entry.jumpToLastTimeStamp' | translate}}</span>
        </div>
      </div>
      <div class="small-label">
        <n52-label-mapper label="{{phenomenonLabel}}"></n52-label-mapper>
        <span *ngIf="uom">
          <span>[</span>
          <n52-label-mapper label="{{uom}}"></n52-label-mapper>
          <span>]</span>
        </span>
      </div>
      <div class="small-label">
        <n52-label-mapper label="{{procedureLabel}}"></n52-label-mapper>
      </div>
      <div class="small-label" *ngIf="categoryLabel != phenomenonLabel">
        <n52-label-mapper label="{{categoryLabel}}"></n52-label-mapper>
      </div>
    </div>
    <div class="legendicons">
      <span class="fa" [ngClass]="{'fa-chevron-down': !informationVisible, 'fa-chevron-up': informationVisible}"
        (click)="toggleInformation(); $event.stopPropagation();"></span>
      <span class="fa" [ngClass]="{'fa-eye-slash': datasetOptions?.visible, 'fa-eye': !datasetOptions?.visible}"
        (click)="toggleVisibility(); $event.stopPropagation();"></span>
      <span class="fa fa-map-marker" (click)="showGeometry(); $event.stopPropagation();"></span>
      <span class="fa fa-pencil" (click)="editDatasetOptions(); $event.stopPropagation();"
        [ngStyle]="{color: datasetOptions?.color}"></span>
      <span class="fa fa-times" (click)="removeDataset(); $event.stopPropagation();"></span>
    </div>
    <div class="collapseLegendEntry small-label" *ngIf="informationVisible">
      <div class="firstLastEntry additionalLegendEntry" *ngIf="firstValue"
        (click)="jumpToFirstTimeStamp(); $event.stopPropagation();">
        <span class="fa fa-chevron-right"></span>
        <span>{{'timeseries.diagram.legend.entry.first-value-at' | translate}}</span>
        <span> {{firstValue.timestamp | date: 'short': null : translateSrvc.currentLang}} </span>
        <span class="hidden-medium">({{firstValue.value}} {{uom}})</span>
      </div>
      <div class="firstLastEntry additionalLegendEntry" *ngIf="lastValue"
        (click)="jumpToLastTimeStamp(); $event.stopPropagation();">
        <span class="fa fa-chevron-right"></span>
        <span>{{'timeseries.diagram.legend.entry.last-value-at' | translate}}</span>
        <span> {{lastValue.timestamp | date: 'short' : null : translateSrvc.currentLang}} </span>
        <span class="hidden-medium">({{lastValue.value}} {{uom}})</span>
      </div>

      <div class="additionalLegendEntry">
        <n52-min-max-value-component [dataset]="dataset" (selectValue)="this.onSelectDate.emit($event);">
        </n52-min-max-value-component>
      </div>

      <div class="additionalLegendEntry" (click)="$event.stopPropagation();">
        <n52-custom-dataset-permalink-download [internalId]="datasetId" [timeInterval]="timeInterval">
        </n52-custom-dataset-permalink-download>
      </div>

      <div class="additionalLegendEntry" *ngIf="urlToPDF" (click)="$event.stopPropagation();">
        <a href="{{urlToPDF}}" download target="_blank">{{'timeseries.diagram.legend.downloadPDF' | translate}}</a>
      </div>

      <!-- temporarly disabled -->
      <!-- <div class="firstLastEntry additionalLegendEntry" *ngIf="hasData" (click)="$event.stopPropagation();">
        <span class="fa fa-download"></span>
        <n52-dataset-download [internalId]="internalId" [timeInterval]="timeInterval"
          [language]="translateSrvc.currentLang"></n52-dataset-download>
      </div> -->

      <div *ngIf="dataset?.referenceValues">
        <div class="additionalLegendEntry" *ngFor="let ref of dataset.referenceValues"
          (click)="toggleReferenceValue(ref); $event.stopPropagation();" [ngClass]="{'selected': ref.visible}"
          [ngStyle]="{color: ref.color}">
          <span class="fa fa-chevron-right"></span>
          <span>{{ref.label}}</span>
        </div>
      </div>
      <!-- <div class="additionalLegendEntry" ng-click="$event.stopPropagation(); createExportCsv(timeseries)">
                <span class="glyphicon glyphicon-download"></span>
                <span translate="export.label"></span>
            </div> -->
      <!-- <div class="additionalLegendEntry">
                <swc-procedure-metadata timeseries='timeseries'></swc-procedure-metadata>
                <swc-timeseries-raw-data-output timeseries='timeseries'></swc-timeseries-raw-data-output>
                <swc-sos-url timeseries='timeseries'></swc-sos-url>
            </div> -->
    </div>
  </div>
</div>
