<div class="legendItem" style="position: relative;" [ngStyle]="{'border-color': datasetOptions?.color}"
  [ngClass]="{'selected': selected}" (click)="toggleSelection()">
  <div class="loading-overlay" *ngIf="loading" [ngStyle]="{'background-color': datasetOptions?.color}">
    <div class="fa fa-refresh fa-spin fa-3x fa-fw"></div>
  </div>
  <div>
    <div [ngClass]="{'highlight': highlight}">
      <div class="col">
        <div class="row flex-nowrap">
          <div class="collapse-toggle"><span class="fa"
              [ngClass]="{'fa-chevron-right': isCollapsed, 'fa-chevron-down': !isCollapsed}"
              (click)="isCollapsed = !isCollapsed"></span></div>
          <div class="legend-item-label flex-grow-1" [ngStyle]="{'color': datasetOptions?.color}">
            <n52-label-mapper class="legendItemheader" label="{{platformLabel}}" (click)="toggleSelection()">
            </n52-label-mapper>
            <n52-favorite-toggler [dataset]="dataset"></n52-favorite-toggler>
          </div>
        </div>
        <div class="noDataWarning firstLastEntry" *ngIf="!hasData">
          <div>
            <span class="fa fa-exclamation-triangle red"></span>
            <span class="small-label">Keine Daten verfügbar</span>
          </div>
          <div class="additionalLegendEntry" (click)="jumpToLastTimeStamp(); $event.stopPropagation();">
            <span class="fa fa-chevron-right"></span>
            <span class="small-label">Springe zur letzten Messung</span>
          </div>
        </div>
        <div class="row">
          <n52-label-mapper class="small-label" label="{{phenomenonLabel}}"></n52-label-mapper>
          <div class="small-label">
            <span *ngIf="uom">
              <span>[</span>
              <n52-label-mapper label="{{uom}}"></n52-label-mapper>
              <span>]</span>
            </span>
          </div>
          <div class="small-label">
            <span *ngIf="categoryLabel">
              <span>in</span>
              <n52-label-mapper class="pl-1" label="{{categoryLabel}}"></n52-label-mapper>
            </span>
          </div>
        </div>
        <div class="row" [ngbCollapse]="isCollapsed">
          <div class="col legendicons">
            <span class="fa fa-info"
              [ngClass]="{'item-inactive': !informationVisible, 'item-active': informationVisible}"
              (click)="toggleInformation(); $event.stopPropagation();" placement="bottom"
              ngbTooltip="{{'timeseries.diagram.legend.extended-infos-tooltip' | translate}}"></span>
            <span class="fa" [ngClass]="{'fa-eye-slash': datasetOptions?.visible, 'fa-eye': !datasetOptions?.visible}"
              (click)="toggleVisibility(); $event.stopPropagation();" placement="bottom"
              ngbTooltip="{{'timeseries.diagram.legend.toggle-visibility-tooltip' | translate}}"></span>
            <span class="fa fa-map-marker" (click)="showGeometry(); $event.stopPropagation();" placement="bottom"
              ngbTooltip="{{'timeseries.diagram.legend.map-marker-tooltip' | translate}}"></span>
            <span class="fa fa-pencil" (click)="editDatasetOptions(); $event.stopPropagation();"
              [ngStyle]="{color: datasetOptions?.color}" placement="bottom"
              ngbTooltip="{{'timeseries.diagram.legend.style-edit-tooltip' | translate}}"></span>
            <span class="fa fa-times" (click)="removeDataset(); $event.stopPropagation();" placement="bottom"
              ngbTooltip="{{'timeseries.diagram.legend.remove-timeseries-tooltip' | translate}}"></span>
          </div>
          <div class="w-100"></div>
          <div class="collapseLegendEntry small-label" *ngIf="informationVisible">
            <div class="firstLastEntry additionalLegendEntry" *ngIf="firstValue"
              (click)="jumpToFirstTimeStamp(); $event.stopPropagation();">
              <span class="fa fa-chevron-right"></span>
              <span>{{'timeseries.diagram.legend.entry.first-value-at' | translate}}</span>
              <span> {{firstValue.timestamp | date: 'short': null : translateSrvc.currentLang}} </span>
              <span class="hidden-medium">({{firstValue.value}} {{uom}})</span>
            </div>
            <div class="firstLastEntry additionalLegendEntry" *ngIf="lastValue"
              (click)="jumpToLastTimeStamp(); $event.stopPropagation();">
              <span class="fa fa-chevron-right"></span>
              <span>{{'timeseries.diagram.legend.entry.last-value-at' | translate}}</span>
              <span> {{lastValue.timestamp | date: 'short' : null : translateSrvc.currentLang}} </span>
              <span class="hidden-medium">({{lastValue.value}} {{uom}})</span>
            </div>
            <div class="firstLastEntry additionalLegendEntry" *ngIf="hasData">
              <a href="{{downloadLink}}">
                <span class="fa fa-download"></span>
                <span>{{'timeseries.diagram.legend.entry.csv-download' | translate}}</span>
              </a>
            </div>
            <div *ngIf="dataset?.referenceValues">
              <div class="additionalLegendEntry" *ngFor="let ref of dataset.referenceValues"
                (click)="toggleReferenceValue(ref); $event.stopPropagation();" [ngClass]="{'selected': ref.visible}"
                [ngStyle]="{color: ref.color}">
                <span class="fa fa-chevron-right"></span>
                <span>{{ref.label}}</span>
              </div>
            </div>
            <!-- <div class="additionalLegendEntry" ng-click="$event.stopPropagation(); createExportCsv(timeseries)">
                      <span class="glyphicon glyphicon-download"></span>
                      <span translate="export.label"></span>
                  </div> -->
            <!-- <div class="additionalLegendEntry">
                      <swc-procedure-metadata timeseries='timeseries'></swc-procedure-metadata>
                      <swc-timeseries-raw-data-output timeseries='timeseries'></swc-timeseries-raw-data-output>
                      <swc-sos-url timeseries='timeseries'></swc-sos-url>
                  </div> -->
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
