<ng-template #modalStationaryPlatform let-c="close()" let-d="dismiss()">
  <div class="modal-header">
    <h4 class="modal-title">{{'profiles.selection.platform' | translate}}: {{selectedPlatform.label}}</h4>
    <button type="button" class="close" aria-label="Close" (click)="d">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body phenomenon-selection">

    <div class="container">
      <div>{{'profiles.selection.parameter-timestamp' | translate}}</div>
      <div *ngFor="let ds of profileDatasets | orderBy: 'label'">
        <div class="row collapse-toggle" (click)="ds.expanded = !ds.expanded;">
          <div class="collapse-icon">
            <span class="fa" [ngClass]="{'fa-chevron-right': !ds.expanded, 'fa-chevron-down': ds.expanded}"></span>
          </div>
          <div class="col">
            <div class="item-label">{{ds.parameters.phenomenon.label}}</div>
          </div>
        </div>
        <div class="row" *ngIf="ds.expanded">
          <app-timestamp-selection [dataset]="ds"></app-timestamp-selection>
        </div>
      </div>
    </div>

    <!-- <div *ngIf="phenomenons" class="phenomenon-selection">
      <div>
        {{'profiles.selection.phenomenon-selection-hint'| translate}}
      </div>
      <div ngbDropdown placement="bottom-right" class="d-inline-block">
        <button class="btn btn-secondary" id="dropdownBasic1"
          ngbDropdownToggle>{{selectedPhenomenon ? selectedPhenomenon.label : 'profiles.selection.phenomenon-placeholder' | translate}}</button>
        <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
          <button class="dropdown-item" *ngFor="let phen of phenomenons"
            (click)="selectPhenomenon(phen)">{{phen.label}}</button>
        </div>
      </div>
    </div>

    <div *ngIf="selectedProfileDs">
      <div *ngIf="stationaryPlatformLoading">{{'profiles.selection.load-timestamps' | translate}}...</div>
      <div *ngIf="!stationaryPlatformLoading" style="padding: 10px;">
        <div>{{'profiles.selection.select-timestamp' | translate}}:</div>
        <div class="selector-entry" *ngFor="let item of stationaryTimestamps; ">
          <input type="checkbox" id="checkbox_{{item.time}}" [ngModel]="profileSelected(item.time)"
            (change)="updateSelection($event, item.time)">
          <label for="checkbox_{{item.time}}"
            style="margin: 0; padding-left: 5px;">{{item.time | tzDate: 'L LT z'}}</label>
        </div>
      </div>
    </div> -->
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-light"
      (click)="moveToChart(); c">{{'profiles.selection.to-diagram-view' | translate}}</button>
    <button type="button" class="btn btn-light" (click)="c">{{'controls.close' | translate}}</button>
  </div>
</ng-template>

<div class="wrapper">
  <div class="row row-offcanvas row-offcanvas-right" [ngClass]="{active: legendToggled}">
    <div class="map-content">
      <button type="button" class="btn btn-primary btn-sm d-md-none legend-button"
        (click)="legendToggled = !legendToggled;">{{'profiles.selection.platform' | translate}}</button>
      <div class="map">
        <app-platform-map-viewer class="map" [mapId]="mapId" [platforms]="platforms"
          [highlightPlatform]="highlightPlatform" (onSelectedPlatform)="onStationSelected($event)">
        </app-platform-map-viewer>
      </div>
      <div class="platform-list sidebar-offcanvas">
        <span>{{'profiles.selection.filter.label' | translate}} </span>
        <input type="text" class="form-control" placeholder="{{'profiles.selection.filter.placeholder' | translate}}"
          (ngModelChange)="adjustFilter($event)" [ngModel]="filterTerm">
        <hr>
        <div class="platform-entry" *ngFor="let platform of filteredPlatforms" (click)="showOnPlatform(platform)">
          {{platform.label}}
        </div>
      </div>
    </div>
  </div>
</div>
