@import "../variables";

#helgoland-notifier {
    width: 250px;
    margin-left: -133px;
    background-color: $primary;
    color: $secondary;
    text-align: center;
    @if ($enable-rounded) {
        border-radius: 10px;
    }
    padding: 16px;
    position: fixed;
    z-index: 1;
    left: 50%;
    bottom: 30px;

    &.show {
        visibility: visible;
        -webkit-animation: fadein 0.5s;
        animation: fadein 0.5s;
    }

    &.hide {
        animation: fadeout 0.5s forwards;
    }

    @-webkit-keyframes fadein {
        from {
            bottom: 0;
            opacity: 0;
        }
        to {
            bottom: 30px;
            opacity: 1;
        }
    }
    
    @keyframes fadein {
        from {
            bottom: 0;
            opacity: 0;
        }
        to {
            bottom: 30px;
            opacity: 1;
        }
    }
    
    @-webkit-keyframes fadeout {
        from {
            bottom: 30px;
            opacity: 1;
        }
        to {
            visibility: hidden;
            bottom: 0;
            opacity: 0;
        }
    }
    
    @keyframes fadeout {
        from {
            bottom: 30px;
            opacity: 1;
        }
        to {
            visibility: hidden;
            bottom: 0;
            opacity: 0;
        }
    }
}
