<div *ngIf="visible">
    <div *ngFor="let dataset of datasetList" style="padding: 5px;">
        <div>
            <span style="white-space: nowrap;">
                <span *ngIf="dataset.selected"><a class="btn btn-light" (click)="toggleSelection(dataset)"><span class="fa fa-minus"></span></a></span>
                <span *ngIf="!dataset.selected"><a class="btn btn-light" (click)="toggleSelection(dataset)"><span class="fa fa-plus"></span></a></span>
                <span style="padding-left: 10px;" [ngStyle]="{'color': dataset.color}">{{dataset.parameters.phenomenon.label}}</span>
            </span>
        </div>
    </div>
</div>