<div class="modal-header">
  <h4 class="modal-title">{{'timeseries.diagram.legend.style-edit.header' | translate}}</h4>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body" *ngIf="options">
  <div class="column">
    <n52-color-selector [color]="options.color" (onColorChange)="color = $event"></n52-color-selector>
  </div>
  <div class="column">
    <div class="custom-control custom-checkbox">
      <input type="checkbox" class="custom-control-input" id="generalizeCheck" [(ngModel)]="generalize">
      <label class="custom-control-label" for="generalizeCheck">{{'timeseries.diagram.legend.style-edit.generalize' | translate}}</label>
    </div>
    <div class="custom-control custom-checkbox">
      <input type="checkbox" class="custom-control-input" id="zeroBasedYAxisCheck" [(ngModel)]="zeroBasedYAxis">
      <label class="custom-control-label" for="zeroBasedYAxisCheck">{{'timeseries.diagram.legend.style-edit.zeroBasedYAxis' | translate}}</label>
    </div>
    <div class="input-group">
      <div class="input-group-prepend">
        <label class="input-group-text" for="pointRadiusSelect">{{'timeseries.diagram.legend.style-edit.pointRadius' | translate}}</label>
      </div>
      <select class="custom-select" id="pointRadiusSelect" [(ngModel)]="pointRadius">
        <option [ngValue]="0">0px</option>
        <option [ngValue]="1">1px</option>
        <option [ngValue]="2">2px</option>
        <option [ngValue]="3">3px</option>
      </select>
    </div>
    <div class="input-group">
      <div class="input-group-prepend">
        <label class="input-group-text" for="lineWidthSelect">{{'timeseries.diagram.legend.style-edit.lineWidth' | translate}}</label>
      </div>
      <select class="custom-select" id="lineWidthSelect" [(ngModel)]="lineWidth">
        <option [ngValue]="0">0px</option>
        <option [ngValue]="1">1px</option>
        <option [ngValue]="2">2px</option>
        <option [ngValue]="3">3px</option>
        <option [ngValue]="4">4px</option>
        <option [ngValue]="5">5px</option>
      </select>
    </div>
    <n52-custom-min-max-range [range]="range" (onRangeChange)="rangeChanged($event)"></n52-custom-min-max-range>
  </div>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-light" (click)="updateOption(); activeModal.close('Close click');">{{'controls.ok' | translate}}</button>
  <button type="button" class="btn btn-light" (click)="activeModal.close('Close click');">{{'controls.cancel' | translate}}</button>
</div>
