<div class="container">
    <ngb-tabset>
        <ngb-tab>
            <ng-template ngbTabTitle>Kategorie</ng-template>
            <ng-template ngbTabContent>
                <n52-list-selector [parameters]="categoryParams" [selectorId]="'category'" [providerList]="providerList" (onDatasetSelection)="onDatasetSelected($event.dataset, $event.url)"></n52-list-selector>
            </ng-template>
        </ngb-tab>
        <ngb-tab>
            <ng-template ngbTabTitle>Station</ng-template>
            <ng-template ngbTabContent>
                <n52-list-selector [parameters]="stationParams" [selectorId]="'station'" [providerList]="providerList" (onDatasetSelection)="onDatasetSelected($event.dataset, $event.url)"></n52-list-selector>
            </ng-template>
        </ngb-tab>
        <ngb-tab>
            <ng-template ngbTabTitle>Phänomen</ng-template>
            <ng-template ngbTabContent>
                <n52-list-selector [parameters]="phenomenonParams" [selectorId]="'phenomenon'" [providerList]="providerList" (onDatasetSelection)="onDatasetSelected($event.dataset, $event.url)"></n52-list-selector>
            </ng-template>
        </ngb-tab>
        <ngb-tab>
            <ng-template ngbTabTitle>Sensor</ng-template>
            <ng-template ngbTabContent>
                <n52-list-selector [parameters]="procedureParams" [selectorId]="'procedure'" [providerList]="providerList" (onDatasetSelection)="onDatasetSelected($event.dataset, $event.url)"></n52-list-selector>
            </ng-template>
        </ngb-tab>
    </ngb-tabset>
</div>
