<swc-simple-permalink-button class="sub-menu-permalink-button" generated-url-function="$ctrl.createPermalink"></swc-simple-permalink-button>
<div class="profile-selection hbox viewport">
    <div class="hbox boxItem">
        <uib-tabset active="$ctrl.tabActive" class="vbox boxItem" template-url="templates/uib/tabs/tabset.html">
            <uib-tab index="0" class="vbox boxItem">
                <uib-tab-heading>
                    <span translate="profile.selection.selectProvider"></span>
                    <br/>
                    <span ng-if="$ctrl.selectedProvider">{{$ctrl.selectedProvider.label}}</span>
                    <span ng-if="!$ctrl.selectedProvider">-</span>
                </uib-tab-heading>
                <div class="vbox boxItem">
                    <swc-provider-selector provider-list="$ctrl.providerList" provider-blacklist="$ctrl.providerBlacklist" filter="$ctrl.providerFilter" on-provider-selected="$ctrl.providerSelected(provider, true)"></swc-provider-selector>
                </div>
            </uib-tab>
            <uib-tab index="1" disable="!$ctrl.selectedProvider" class="vbox boxItem">
                <uib-tab-heading>
                    <span translate="profile.selection.selectOffering"></span>
                    <br/>
                    <span ng-if="$ctrl.selectedOffering">{{$ctrl.selectedOffering.label}}</span>
                    <span ng-if="!$ctrl.selectedOffering">-</span>
                </uib-tab-heading>
                <div ng-if="$ctrl.selectedProvider" class="vbox boxItem">
                    <swc-service-filter-selector endpoint="'offering'" filter="$ctrl.offeringFilter" service-url="$ctrl.selectedProvider.providerUrl" selection-id="$ctrl.selectedOffering.id" on-item-selected="$ctrl.offeringSelected(item, true)"></swc-service-filter-selector>
                </div>
            </uib-tab>
            <uib-tab index="2" disable="!$ctrl.selectedOffering" class="vbox boxItem">
                <uib-tab-heading>
                    <span translate="profile.selection.selectPhenomenon"></span>
                    <br/>
                    <span ng-if="$ctrl.selectedPhenomenon">{{$ctrl.selectedPhenomenon.label}}</span>
                    <span ng-if="!$ctrl.selectedPhenomenon">-</span>
                </uib-tab-heading>
                <div ng-if="$ctrl.selectedOffering" class="vbox boxItem">
                    <swc-service-filter-selector endpoint="'phenomenon'" filter="$ctrl.phenomenonFilter" service-url="$ctrl.selectedProvider.providerUrl" selection-id="$ctrl.selectedPhenomenon.id" on-item-selected="$ctrl.phenomenonSelected(item, true)"></swc-service-filter-selector>
                </div>
            </uib-tab>
            <uib-tab index="3" disable="!$ctrl.selectedPhenomenon" class="vbox boxItem">
                <uib-tab-heading>
                    <span translate="profile.selection.selectProcedure"></span>
                    <br/>
                    <span ng-if="$ctrl.selectedProcedure">{{$ctrl.selectedProcedure.label}}</span>
                    <span ng-if="!$ctrl.selectedProcedure">-</span>
                </uib-tab-heading>
                <div class="map-selector" ng-if="$ctrl.selectedPhenomenon" class="vbox boxItem">
                    <swc-service-filter-selector endpoint="'procedure'" filter="$ctrl.procedureFilter" service-url="$ctrl.selectedProvider.providerUrl" selection-id="$ctrl.selectedProcedure.id" on-item-selected="$ctrl.procedureSelected(item, true)"></swc-service-filter-selector>
                </div>
            </uib-tab>
            <uib-tab index="4" disable="!$ctrl.selectedProcedure" class="vbox boxItem">
                <uib-tab-heading>
                    <span translate="profile.selection.selectPlatform"></span>
                    <br/>
                    <span ng-if="$ctrl.selectedFeature">{{$ctrl.selectedFeature.label}}</span>
                    <span ng-if="!$ctrl.selectedFeature">-</span>
                </uib-tab-heading>
                <div ng-if="$ctrl.selectedProcedure" class="hbox boxItem">
                    <div class="vbox boxItem">
                        <span translate="profile.selection.selectStationaryPlatform"></span>
                        <swc-platform-map-selector map-id="profileStationary" service-url="$ctrl.selectedProvider.providerUrl" filter="$ctrl.stationaryPlatformFilter" on-platform-selected="$ctrl.platformSelected(platform)" map-layers="$ctrl.layers" cluster="$ctrl.cluster" class="vbox boxItem"></swc-platform-map-selector>
                    </div>
                    <div class="vbox boxItem">
                        <div class="selection-list">
                            <span translate="profile.selection.selectMobilePlatform"></span>
                            <swc-service-filter-selector endpoint="'feature'" filter="$ctrl.mobilePlatformFilter" service-url="$ctrl.selectedProvider.providerUrl" selection-id="$ctrl.selectedFeature.id" on-item-selected="$ctrl.featureSelected(item, true)"></swc-service-filter-selector>
                        </div>
                    </div>
                </div>
            </uib-tab>
            <uib-tab index="5" disable="!$ctrl.selectedFeature" class="vbox boxItem">
                <uib-tab-heading>
                    <span translate="profile.selection.selectTrack"></span>
                    <br/>
                    <span>&nbsp;</span>
                </uib-tab-heading>
                <div ng-if="$ctrl.selectedFeature" class="vbox boxItem">
                    <div class="vbox boxItem">
                        <swc-trajectory-map-selector map-id="profileMobile" service-url="$ctrl.selectedProvider.providerUrl" filter="$ctrl.trajectoryFilter" on-marker-selected="$ctrl.mobileMarkerSelected(dataset, selectedGeometry)" map-layers="$ctrl.layers" cluster="$ctrl.cluster" class="vbox boxItem"></swc-platform-map-selector>
                    </div>
                </div>
            </uib-tab>
        </uib-tabset>
    </div>
</div>
