<div class="profile-selection hbox viewport">
    <div class="hbox boxItem">
        <uib-tabset active="$ctrl.tabActive" class="vbox boxItem" template-url="templates/uib/tabs/tabset.html">
            <uib-tab index="0" class="vbox boxItem">
                <uib-tab-heading>
                    Select Provider
                    <br/>
                    <span ng-if="$ctrl.selectedProvider">{{$ctrl.selectedProvider.label}}</span>
                    <span ng-if="!$ctrl.selectedProvider">-</span>
                </uib-tab-heading>
                <div class="vbox boxItem">
                    <provider-selector provider-list="$ctrl.providerList" provider-blacklist="$ctrl.providerBlacklist" filter="$ctrl.providerFilter" on-provider-selected="$ctrl.providerSelected(provider, true)"></provider-selector>
                </div>
            </uib-tab>
            <uib-tab index="1" disable="!$ctrl.selectedProvider" class="vbox boxItem">
                <uib-tab-heading>
                    Select Offering
                    <br/>
                    <span ng-if="$ctrl.selectedOffering">{{$ctrl.selectedOffering.label}}</span>
                    <span ng-if="!$ctrl.selectedOffering">-</span>
                </uib-tab-heading>
                <div ng-if="$ctrl.selectedProvider" class="vbox boxItem">
                    <service-filter-selector endpoint="'offering'" filter="$ctrl.offeringFilter" service-url="$ctrl.selectedProvider.providerUrl" selection-id="$ctrl.selectedOffering.id" on-item-selected="$ctrl.offeringSelected(item, true)"></service-filter-selector>
                </div>
            </uib-tab>
            <uib-tab index="2" disable="!$ctrl.selectedOffering" class="vbox boxItem">
                <uib-tab-heading>
                    Select Phenomenony
                    <br/>
                    <span ng-if="$ctrl.selectedPhenomenon">{{$ctrl.selectedPhenomenon.label}}</span>
                    <span ng-if="!$ctrl.selectedPhenomenon">-</span>
                </uib-tab-heading>
                <div ng-if="$ctrl.selectedOffering" class="vbox boxItem">
                    <service-filter-selector endpoint="'phenomenon'" filter="$ctrl.phenomenonFilter" service-url="$ctrl.selectedProvider.providerUrl" selection-id="$ctrl.selectedPhenomenon.id" on-item-selected="$ctrl.phenomenonSelected(item, true)"></service-filter-selector>
                </div>
            </uib-tab>
            <uib-tab index="3" disable="!$ctrl.selectedPhenomenon" class="vbox boxItem">
                <uib-tab-heading>
                    Select Procedure
                    <br/>
                    <span ng-if="$ctrl.selectedProcedure">{{$ctrl.selectedProcedure.label}}</span>
                    <span ng-if="!$ctrl.selectedProcedure">-</span>
                </uib-tab-heading>
                <div class="map-selector" ng-if="$ctrl.selectedPhenomenon" class="vbox boxItem">
                    <service-filter-selector endpoint="'procedure'" filter="$ctrl.procedureFilter" service-url="$ctrl.selectedProvider.providerUrl" selection-id="$ctrl.selectedProcedure.id" on-item-selected="$ctrl.procedureSelected(item, true)"></service-filter-selector>
                </div>
            </uib-tab>
            <uib-tab index="4" disable="!$ctrl.selectedProcedure" class="vbox boxItem">
                <uib-tab-heading>
                    Select Location
                    <br/>
                    <span>&nbsp;</span>
                </uib-tab-heading>
                <div ng-if="$ctrl.selectedProcedure" class="vbox boxItem">
                    <platform-map-selector map-id="profile" service-url="$ctrl.selectedProvider.providerUrl" filter="$ctrl.platformFilter" on-platform-selected="$ctrl.platformSelected(platform)" map-layers="$ctrl.layers" cluster="$ctrl.cluster" class="vbox boxItem"></platform-map-selector>
                </div>
            </uib-tab>
        </uib-tabset>
    </div>
</div>
