<div class="swc-page swc-page-current" id="chart-page">
    <div class="container-fluid content">
        <div class="row fullHeight profile-view">
            <div class="col-xs-12 col-sm-8 col-lg-9 fullHeight">
                <div class="visible-xs leftPanelButton" ng-controller="SwcLegendButtonCtrl">
                    <button type="button" class="btn btn-primary btn-xs" ng-hide="status.showLegend" ng-click="toggleLegend()" translate="main.legend"></button>
                    <button type="button" class="btn btn-primary btn-xs" ng-show="status.showLegend" ng-click="toggleLegend()">X</button>
                </div>
                <div class="fullHeight">
                    <div ng-controller="SwcProfileCtrl" style="height:100%;">
                        <profile-chart datasets="datasets" options="options" data="data"></profile-chart>
                    </div>
                </div>
            </div>
            <div ng-controller="SwcLegendButtonCtrl">
                <div class="col-xs-10 col-sm-4 col-lg-3 legend rightPanel" ng-class="{active:status.showLegend}">
                    <h3 class="header" translate="main.legend"></h3>
                    <!-- TODO add profile legend -->
                    <swc-profile-legend></swc-profile-legend>
                </div>
            </div>
        </div>
    </div>
</div>
