@import "../../../../../variables";
:host {
    position: relative;
    .map-viewer {
        width: 100%;
        height: 100%;
    }
    .map-notifier {
        position: absolute;
        bottom: 10px;
        left: 10px;
        z-index: 1001;
        width: 120px;
        height: 70px;
        padding: 5px;
        opacity: 0.8;
        background-color: $primary;
        @if ($enable-rounded) {
            border-radius: 10px;
        }
        text-align: center;
    }
}