<ng-template #modalStationaryPlatform let-c="close()" let-d="dismiss()">
  <div class="modal-header">
    <h4 class="modal-title">{{'profiles.selection.platform' | translate}}: {{stationaryPlatform.label}}</h4>
    <button type="button" class="close" aria-label="Close" (click)="d">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div style="word-wrap: break-word;">{{stationaryPlatformDataset.label}}</div>
    <div *ngIf="stationaryPlatformLoading">{{'profiles.selection.load-timestamps' | translate}}...</div>
    <div *ngIf="!stationaryPlatformLoading" style="padding: 10px;">
      <div>{{'profiles.selection.select-timestamp' | translate}}:</div>
      <n52-time-list-selector [timeList]="stationaryTimestamps" (onTimeSelected)="onTimeselected($event); c">
      </n52-time-list-selector>
    </div>
  </div>
</ng-template>

<ng-template #modalMobilePreview let-c="close()" let-d="dismiss()">
  <div class="modal-header">
    <h4 class="modal-title" style="word-break: break-word;">{{mobilePreviewDataset.label}}</h4>
    <button type="button" class="close" aria-label="Close" (click)="d">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="time-at" style="text-align: center;">
      <span>{{'profiles.selection.timestamp' | translate}}: </span>
      <span>{{mobilePreviewTimestamp | tzDate }}</span>
    </div>
    <div>
      <n52-plotly-profile-graph [datasetIds]="[mobilePreviewDataset.internalId]"
        [datasetOptions]="mobilePreviewOptions"></n52-plotly-profile-graph>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-light"
      (click)="addToCombiView();c">{{'profiles.selection.to-combi-view' | translate}}</button>
    <button type="button" class="btn btn-light"
      (click)="addToChart();c">{{'profiles.selection.to-diagram-view' | translate}}</button>
    <button type="button" class="btn btn-light" (click)="c">{{'controls.close' | translate}}</button>
  </div>
</ng-template>

<n52-permalink-button [generatedUrlFunction]="selectionPermalink.createPermalink"></n52-permalink-button>

<div class="wrapper">
  <div class="container">
    <ngb-accordion #profileSelection="ngbAccordion" activeIds="selectProvider" closeOthers="true">

      <ngb-panel id="selectProvider">
        <ng-template ngbPanelTitle>
          <span>{{'profiles.selection.select-provider' | translate}}</span>
          <span *ngIf="selectedProvider"> - </span>
          <span>{{selectedProvider?.label}}</span>
        </ng-template>
        <ng-template ngbPanelContent>
          <n52-custom-service-selector [datasetApiList]="datasetApis" [providerBlacklist]="providerBlacklist"
            [filter]="providerFilter" [showUnresolvableServices]="false"
            (onServiceSelected)="providerSelected($event, true);"></n52-custom-service-selector>
        </ng-template>
      </ngb-panel>

      <ngb-panel id="selectOffering" [disabled]="selectedProvider == undefined">
        <ng-template ngbPanelTitle>
          <span>{{'profiles.selection.select-offering' | translate}}</span>
          <span *ngIf="selectedOffering"> - </span>
          <span>{{selectedOffering?.label}}</span>
        </ng-template>
        <ng-template ngbPanelContent>
          <div class="container">
            <n52-service-filter-selector [endpoint]="'offering'" [filter]="offeringFilter"
              [serviceUrl]="selectedProvider.apiUrl" [selectionId]="selectedOffering?.id"
              (onItemSelected)="offeringSelected($event, true)"></n52-service-filter-selector>
          </div>
        </ng-template>
      </ngb-panel>

      <ngb-panel id="selectPhenomenon" [disabled]="selectedOffering == undefined">
        <ng-template ngbPanelTitle>
          <span>{{'profiles.selection.select-phenomenon' | translate}}</span>
          <span *ngIf="selectedPhenomenon"> - </span>
          <span>{{selectedPhenomenon?.label}}</span>
        </ng-template>
        <ng-template ngbPanelContent>
          <div class="container">
            <n52-service-filter-selector [endpoint]="'phenomenon'" [filter]="phenomenonFilter"
              [serviceUrl]="selectedProvider.apiUrl" [selectionId]="selectedPhenomenon?.id"
              (onItemSelected)="phenomenonSelected($event, true)"></n52-service-filter-selector>
          </div>
        </ng-template>
      </ngb-panel>

      <ngb-panel id="selectProcedure" [disabled]="selectedPhenomenon == undefined">
        <ng-template ngbPanelTitle>
          <span>{{'profiles.selection.select-sensor' | translate}}</span>
          <span *ngIf="selectedProcedure"> - </span>
          <span>{{selectedProcedure?.label}}</span>
        </ng-template>
        <ng-template ngbPanelContent>
          <div class="container">
            <n52-service-filter-selector [endpoint]="'procedure'" [filter]="procedureFilter"
              [serviceUrl]="selectedProvider.apiUrl" [selectionId]="selectedProcedure?.id"
              (onItemSelected)="procedureSelected($event, true)"></n52-service-filter-selector>
          </div>
        </ng-template>
      </ngb-panel>

      <ngb-panel id="selectPlatform" [disabled]="selectedProcedure == undefined">
        <ng-template ngbPanelTitle>
          <span>{{'profiles.selection.select-platform.header' | translate}}</span>
          <span *ngIf="selectedFeature"> - </span>
          <span>{{selectedFeature?.label}}</span>
        </ng-template>
        <ng-template ngbPanelContent>
          <div class="platform-body">
            <div *ngIf="loadingPlatforms">
              <span class="fa fa-refresh fa-spin fa-1x fa-fw"></span>
              <span>{{'profiles.selection.select-platform.loading-stationary-platforms' | translate}}</span>
            </div>
            <div class="stationary" [hidden]="loadingPlatforms && noPlatformResults">
              <div class="header">{{'profiles.selection.select-platform.stationary' | translate}}:</div>
              <n52-station-map-selector class="map" [mapId]="'profiles-stationary'"
                [serviceUrl]="selectedProvider.apiUrl" [filter]="stationaryPlatformFilter"
                (onSelected)="onStationaryPlatformSelected($event)" (onContentLoading)="loadingPlatforms = $event"
                (onNoResultsFound)="noPlatformResults = $event">
              </n52-station-map-selector>
            </div>
            <div *ngIf="loadingMobilePlatforms">
              <span class="fa fa-refresh fa-spin fa-1x fa-fw"></span>
              <span>{{'profiles.selection.select-platform.loading-mobile-platforms' | translate}}</span>
            </div>
            <div class="mobile" [hidden]="itemsLength <= 0">
              <div class="header">{{'profiles.selection.select-platform.mobile' | translate}}:</div>
              <div class="body">
                <n52-service-filter-selector [endpoint]="'feature'" [filter]="mobilePlatformFilter"
                  [serviceUrl]="selectedProvider.apiUrl" [selectionId]="selectedFeature?.id"
                  (onItemSelected)="featureSelected($event, true)" (onItemsFound)="itemsLength = $event.length">
                </n52-service-filter-selector>
              </div>
            </div>
          </div>
        </ng-template>
      </ngb-panel>

      <ngb-panel id="selectProfile" [disabled]="selectedFeature == undefined">
        <ng-template ngbPanelTitle>
          <span>{{'profiles.selection.select-profile' | translate}}</span>
        </ng-template>
        <ng-template ngbPanelContent>
          <div class="loading-overlay" *ngIf="loadingTrajectories"
            [ngStyle]="{'background-color': datasetOptions?.color}">
            <div class="fa fa-refresh fa-spin fa-3x fa-fw"></div>
          </div>
          <div>
            <div class="timeslider" *ngIf="!loadingTrajectories">
              <n52-custom-time-range-slider id="profile-time-slider" [timeList]="mobileTimestamps"
                (onTimespanSelected)="onTimespanSelected($event)"></n52-custom-time-range-slider>
            </div>
            <div class="trajectory-map">
              <n52-profile-trajectory-map-selector class="map" [mapId]="'profiles-stationary'"
                [serviceUrl]="selectedProvider.apiUrl" [filter]="mobilePlatformFilter"
                [selectedTimespan]="selectedMobileTimespan" (onSelected)="onMobileSelected($event)"
                (onTimeListDetermined)="timelistDetermined($event)" (onContentLoading)="trajectoriesLoaded($event)">
              </n52-profile-trajectory-map-selector>
            </div>
          </div>
        </ng-template>
      </ngb-panel>

    </ngb-accordion>
  </div>
</div>
