n52-profiles-selection {
    width: 100%;
    overflow: auto;

    .wrapper {
        .header {
            text-align: center;
        }

        .platform-body {

            .stationary,
            .mobile {
                flex: 1;
                text-align: center;

                .body {
                    padding: 10px;
                }
            }

            .stationary {
                display: flex;
                flex-direction: column;
                height: 400px;

                .header {
                    flex: 0 30px;
                }

                .map {
                    flex: 1;
                }
            }
        }

        .timeslider {
            flex: 0;
        }

        .loading-overlay {
            z-index: 10;
        }

        .trajectory-map {
            height: 500px;
            flex: 1;
        }
    }
}
