<div class="container">
  <div class="row">
    <div class="col">
      <h6>Color</h6>
      <div class="colorpicker">
        <span
          [(colorPicker)]="timeseriesColor"
          [cpDialogDisplay]="'inline'"
          [cpToggle]="true"
          [cpCancelButton]="true"
          [cpCancelButtonText]="'Reset'"
          [cpPresetColors]="timeseriesColorRamp"
          [cpPresetLabel]="'Presets:'"
          (colorPickerChange)="this.onColorChange.emit($event)">
        </span>
      </div>
    </div>
    <div class="col">
      <h6>Other</h6>
    </div>
  </div>
</div>