<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf8"/>
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">

        <!-- build:remove -->
        <title>AngularJS Client</title>
        <!--/build -->
        <!-- build:template
        <title><%= message %></title>
        <!--/build -->

        <!-- build:template -->
        <!-- <%= message %> -->
        <!--/build -->

        <link href="images/favicon.ico" rel="shortcut icon" type="image/vnd.microsoft.icon">

        <!-- build:css css/deps.client.min.css -->
        <!-- start lib style tags -->
        <link href="bower_components/L.GeoSearch/src/css/l.geosearch.css" rel="stylesheet" type="text/css"/>
        <link href="bower_components/smalot-bootstrap-datetimepicker/css/bootstrap-datetimepicker.css" rel="stylesheet" type="text/css"/>
        <link href="bower_components/ng-table/dist/ng-table.css" rel="stylesheet" type="text/css"/>
        <link href="bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
        <link href="bower_components/leaflet/dist/leaflet.css" rel="stylesheet" type="text/css"/>
        <link href="bower_components/leaflet.markercluster/dist/MarkerCluster.css" rel="stylesheet" type="text/css"/>
        <link href="bower_components/leaflet.markercluster/dist/MarkerCluster.Default.css" rel="stylesheet" type="text/css"/>
        <link href="bower_components/angular-ui-notification/dist/angular-ui-notification.min.css" rel="stylesheet" type="text/css"/>
        <!-- end lib style tags -->
        <!-- /build -->

        <!-- build:css css/client.min.css -->
        <!-- start client style tags -->
        <link href="css/app.css" rel="stylesheet" type="text/css"/>
        <!-- end client style tags -->
        <!-- /build -->

        <!-- build:js js/deps.client.min.js -->
        <!-- start lib script tags -->
        <script src="bower_components/jquery/dist/jquery.js" type="text/javascript"></script>
        <script src="bower_components/angular/angular.js" type="text/javascript"></script>
        <script src="bower_components/angular-route/angular-route.js" type="text/javascript"></script>
        <script src="bower_components/angular-resource/angular-resource.js" type="text/javascript"></script>
        <script src="bower_components/angular-local-storage/dist/angular-local-storage.js" type="text/javascript"></script>
        <script src="bower_components/angular-translate/angular-translate.js" type="text/javascript"></script>
        <script src="bower_components/angular-translate-loader-static-files/angular-translate-loader-static-files.js" type="text/javascript"></script>
        <script src="bower_components/angular-simple-logger/dist/angular-simple-logger.js" type="text/javascript"></script>
        <script src="bower_components/angular-sanitize/angular-sanitize.js" type="text/javascript"></script>
        <script src="bower_components/moment/min/moment.min.js" type="text/javascript"></script>
        <script src="bower_components/xhr-xdr-adapter/src/xhr-xdr-adapter.js" type="text/javascript"></script>
        <script src="bower_components/flot/jquery.flot.js" type="text/javascript"></script>
        <script src="bower_components/flot/jquery.flot.time.js" type="text/javascript"></script>
        <script src="bower_components/flot/jquery.flot.crosshair.js" type="text/javascript"></script>
        <script src="bower_components/flot-downsample/jquery.flot.downsample.js" type="text/javascript"></script>
        <script src="bower_components/leaflet/dist/leaflet.js" type="text/javascript"></script>
        <script src="bower_components/leaflet.markercluster/dist/leaflet.markercluster.js" type="text/javascript"></script>
        <script src="bower_components/L.GeoSearch/src/js/l.control.geosearch.js" type="text/javascript"></script>
        <script src="bower_components/L.GeoSearch/src/js/l.geosearch.provider.openstreetmap.js" type="text/javascript"></script>
        <script src="bower_components/bootstrap/dist/js/bootstrap.js" type="text/javascript"></script>
        <script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.min.js" type="text/javascript"></script>
        <script src="bower_components/angular-ui-notification/dist/angular-ui-notification.min.js" type="text/javascript"></script>
        <script src="bower_components/qr-js/qr.min.js" type="text/javascript"></script>
        <script src="bower_components/ui-leaflet/dist/ui-leaflet.js" type="text/javascript"></script>
        <script src="bower_components/smalot-bootstrap-datetimepicker/js/bootstrap-datetimepicker.js" type="text/javascript"></script>
        <script src="bower_components/ng-table/dist/ng-table.js" type="text/javascript"></script>
        <script src="bower_components/xslt/dist/xslt.js" type="text/javascript"></script>
        <!-- end lib script tags -->
        <!-- /build -->

        <!-- build:remove -->
        <!-- start core script tags -->
        <script src="bower_components/n52-sensorweb-client-core/src/js/Map/mapModule.js" type="text/javascript"></script>
        <script src="bower_components/n52-sensorweb-client-core/src/js/Map/markerRenderer/markerRendererHelper.js" type="text/javascript"></script>
        <script src="bower_components/n52-sensorweb-client-core/src/js/Map/markerRenderer/normalMarkerRenderer.js" type="text/javascript"></script>
        <script src="bower_components/n52-sensorweb-client-core/src/js/Map/markerRenderer/statusIntervalMarkerRenderer.js" type="text/javascript"></script>
        <script src="bower_components/n52-sensorweb-client-core/src/js/Map/controller/baseLayerCtrl.js" type="text/javascript"></script>
        <script src="bower_components/n52-sensorweb-client-core/src/js/Map/controller/basicMapCtrl.js" type="text/javascript"></script>
        <script src="bower_components/n52-sensorweb-client-core/src/js/Map/controller/locateButtonCtrl.js" type="text/javascript"></script>
        <script src="bower_components/n52-sensorweb-client-core/src/js/Map/controller/mapLayerCtrl.js" type="text/javascript"></script>
        <script src="bower_components/n52-sensorweb-client-core/src/js/Map/controller/modalPlatformCtrl.js" type="text/javascript"></script>
        <script src="bower_components/n52-sensorweb-client-core/src/js/Map/controller/modalStationCtrl.js" type="text/javascript"></script>
        <script src="bower_components/n52-sensorweb-client-core/src/js/Map/controller/overlayCtrl.js" type="text/javascript"></script>
        <script src="bower_components/n52-sensorweb-client-core/src/js/Map/controller/searchCtrl.js" type="text/javascript"></script>
        <script src="bower_components/n52-sensorweb-client-core/src/js/Map/controller/zoomControlsCtrl.js" type="text/javascript"></script>
        <script src="bower_components/n52-sensorweb-client-core/src/js/Map/directives/locateStation.js" type="text/javascript"></script>
        <script src="bower_components/n52-sensorweb-client-core/src/js/Map/directives/modalStationOpener.js" type="text/javascript"></script>
        <script src="bower_components/n52-sensorweb-client-core/src/js/Map/directives/stationLoading.js" type="text/javascript"></script>
        <script src="bower_components/n52-sensorweb-client-core/src/js/Phenomenon/phenomenaModule.js" type="text/javascript"></script>
        <script src="bower_components/n52-sensorweb-client-core/src/js/Phenomenon/controller/phenomenaButtonCtrl.js" type="text/javascript"></script>
        <script src="bower_components/n52-sensorweb-client-core/src/js/Phenomenon/controller/phenomenaCountCtrl.js" type="text/javascript"></script>
        <script src="bower_components/n52-sensorweb-client-core/src/js/Phenomenon/controller/phenomenaListCtrl.js" type="text/javascript"></script>
        <script src="bower_components/n52-sensorweb-client-core/src/js/Provider/providerModule.js" type="text/javascript"></script>
        <script src="bower_components/n52-sensorweb-client-core/src/js/Provider/controller/additionalProvider.js" type="text/javascript"></script>
        <script src="bower_components/n52-sensorweb-client-core/src/js/Provider/controller/providerButtonCtrl.js" type="text/javascript"></script>
        <script src="bower_components/n52-sensorweb-client-core/src/js/Provider/controller/providerDeselectCtrl.js" type="text/javascript"></script>
        <script src="bower_components/n52-sensorweb-client-core/src/js/Provider/controller/providerLabelCtrl.js" type="text/javascript"></script>
        <script src="bower_components/n52-sensorweb-client-core/src/js/Provider/controller/providerListModalCtrl.js" type="text/javascript"></script>
        <script src="bower_components/n52-sensorweb-client-core/src/js/Time/bootstrap-datetimepicker.de.js" type="text/javascript"></script>
        <script src="bower_components/n52-sensorweb-client-core/src/js/Time/timeRangeModule.js" type="text/javascript"></script>
        <script src="bower_components/n52-sensorweb-client-core/src/js/Time/controller/backForwardButtonsCtrl.js" type="text/javascript"></script>
        <script src="bower_components/n52-sensorweb-client-core/src/js/Time/controller/centerTimeCtrl.js" type="text/javascript"></script>
        <script src="bower_components/n52-sensorweb-client-core/src/js/Time/controller/customDateTimeRangeCtrl.js" type="text/javascript"></script>
        <script src="bower_components/n52-sensorweb-client-core/src/js/Time/controller/customDateTimeRangeWithMaxTimeperiodCtrl.js" type="text/javascript"></script>
        <script src="bower_components/n52-sensorweb-client-core/src/js/Time/controller/predefinedTimeRangeControlsCtrl.js" type="text/javascript"></script>
        <script src="bower_components/n52-sensorweb-client-core/src/js/Time/controller/timeRangeCtrl.js" type="text/javascript"></script>
        <script src="bower_components/n52-sensorweb-client-core/src/js/Time/controller/timeRangeWindowCtrl.js" type="text/javascript"></script>
        <script src="bower_components/n52-sensorweb-client-core/src/js/Time/directives/customDateTimeSelection.js" type="text/javascript"></script>
        <script src="bower_components/n52-sensorweb-client-core/src/js/Time/directives/predefinedTimeRangeButton.js" type="text/javascript"></script>
        <script src="bower_components/n52-sensorweb-client-core/src/js/Time/directives/selectDateTime.js" type="text/javascript"></script>
        <script src="bower_components/n52-sensorweb-client-core/src/js/Time/directives/timeSelectorButtons.js" type="text/javascript"></script>
        <script src="bower_components/n52-sensorweb-client-core/src/js/Legend/exportTsModule.js" type="text/javascript"></script>
        <script src="bower_components/n52-sensorweb-client-core/src/js/Legend/legendModule.js" type="text/javascript"></script>
        <script src="bower_components/n52-sensorweb-client-core/src/js/Legend/controller/deleteAllTsCtrl.js" type="text/javascript"></script>
        <script src="bower_components/n52-sensorweb-client-core/src/js/Legend/controller/deleteLegendEntryCtrl.js" type="text/javascript"></script>
        <script src="bower_components/n52-sensorweb-client-core/src/js/Legend/controller/exportToCsvCtrl.js" type="text/javascript"></script>
        <script src="bower_components/n52-sensorweb-client-core/src/js/Legend/controller/isInTimespanCtrl.js" type="text/javascript"></script>
        <script src="bower_components/n52-sensorweb-client-core/src/js/Legend/controller/jumpToFirstLatestValuesCtrl.js" type="text/javascript"></script>
        <script src="bower_components/n52-sensorweb-client-core/src/js/Legend/controller/legendButtonCtrl.js" type="text/javascript"></script>
        <script src="bower_components/n52-sensorweb-client-core/src/js/Legend/controller/openStyleModalCtrl.js" type="text/javascript"></script>
        <script src="bower_components/n52-sensorweb-client-core/src/js/Legend/controller/showInMapCtrl.js" type="text/javascript"></script>
        <script src="bower_components/n52-sensorweb-client-core/src/js/Legend/controller/toggleInformationCtrl.js" type="text/javascript"></script>
        <script src="bower_components/n52-sensorweb-client-core/src/js/Legend/controller/toggleRefValueCtrl.js" type="text/javascript"></script>
        <script src="bower_components/n52-sensorweb-client-core/src/js/Legend/controller/toggleSelectionCtrl.js" type="text/javascript"></script>
        <script src="bower_components/n52-sensorweb-client-core/src/js/Legend/controller/toggleVisibilityCtrl.js" type="text/javascript"></script>
        <script src="bower_components/n52-sensorweb-client-core/src/js/Legend/directives/legend.js" type="text/javascript"></script>
        <script src="bower_components/n52-sensorweb-client-core/src/js/Legend/directives/legendEntry.js" type="text/javascript"></script>
        <script src="bower_components/n52-sensorweb-client-core/src/js/Styling/styleModule.js" type="text/javascript"></script>
        <script src="bower_components/n52-sensorweb-client-core/src/js/Styling/controller/modalStyleEditorCtrl.js" type="text/javascript"></script>
        <script src="bower_components/n52-sensorweb-client-core/src/js/Styling/directives/barToggler.js" type="text/javascript"></script>
        <script src="bower_components/n52-sensorweb-client-core/src/js/Styling/directives/colorChooser.js" type="text/javascript"></script>
        <script src="bower_components/n52-sensorweb-client-core/src/js/Styling/directives/groupAxisToggler.js" type="text/javascript"></script>
        <script src="bower_components/n52-sensorweb-client-core/src/js/Styling/directives/zeroBasedAxisToggler.js" type="text/javascript"></script>
        <script src="bower_components/n52-sensorweb-client-core/src/js/Chart/controller/chartCtrl.js" type="text/javascript"></script>
        <script src="bower_components/n52-sensorweb-client-core/src/js/Chart/controller/noDataWarningCtrl.js" type="text/javascript"></script>
        <script src="bower_components/n52-sensorweb-client-core/src/js/Chart/controller/overviewChartCtrl.js" type="text/javascript"></script>
        <script src="bower_components/n52-sensorweb-client-core/src/js/Chart/controller/timeseriesExistenceCtrl.js" type="text/javascript"></script>
        <script src="bower_components/n52-sensorweb-client-core/src/js/Chart/controller/tooltip.js" type="text/javascript"></script>
        <script src="bower_components/n52-sensorweb-client-core/src/js/Chart/directives/flot.js" type="text/javascript"></script>
        <script src="bower_components/n52-sensorweb-client-core/src/js/Chart/directives/reloadChartData.js" type="text/javascript"></script>
        <script src="bower_components/n52-sensorweb-client-core/src/js/Chart/directives/yAxisHideButton.js" type="text/javascript"></script>
        <script src="bower_components/n52-sensorweb-client-core/src/js/Chart/flotlib/jquery.flot.navigate.js" type="text/javascript"></script>
        <script src="bower_components/n52-sensorweb-client-core/src/js/Chart/flotlib/jquery.flot.touch.js" type="text/javascript"></script>
        <script src="bower_components/n52-sensorweb-client-core/src/js/Favorite/favoriteModule.js" type="text/javascript"></script>
        <script src="bower_components/n52-sensorweb-client-core/src/js/Favorite/controller/addFavoriteCtrl.js" type="text/javascript"></script>
        <script src="bower_components/n52-sensorweb-client-core/src/js/Favorite/controller/addFavoriteGroupCtrl.js" type="text/javascript"></script>
        <script src="bower_components/n52-sensorweb-client-core/src/js/Favorite/controller/addFavoriteToChartCtrl.js" type="text/javascript"></script>
        <script src="bower_components/n52-sensorweb-client-core/src/js/Favorite/controller/deleteFavoriteCtrl.js" type="text/javascript"></script>
        <script src="bower_components/n52-sensorweb-client-core/src/js/Favorite/controller/editFavoriteLabelModalCtrl.js" type="text/javascript"></script>
        <script src="bower_components/n52-sensorweb-client-core/src/js/Favorite/controller/favoriteListCtrl.js" type="text/javascript"></script>
        <script src="bower_components/n52-sensorweb-client-core/src/js/Favorite/directives/addFavoriteGroup.js" type="text/javascript"></script>
        <script src="bower_components/n52-sensorweb-client-core/src/js/Favorite/directives/customOnChange.js" type="text/javascript"></script>
        <script src="bower_components/n52-sensorweb-client-core/src/js/Favorite/directives/exportFavoriteButton.js" type="text/javascript"></script>
        <script src="bower_components/n52-sensorweb-client-core/src/js/Favorite/directives/favoriteAddStar.js" type="text/javascript"></script>
        <script src="bower_components/n52-sensorweb-client-core/src/js/Favorite/directives/favoriteList.js" type="text/javascript"></script>
        <script src="bower_components/n52-sensorweb-client-core/src/js/Favorite/directives/importFavoriteButton.js" type="text/javascript"></script>
        <script src="bower_components/n52-sensorweb-client-core/src/js/Loading/dataLoadingModule.js" type="text/javascript"></script>
        <script src="bower_components/n52-sensorweb-client-core/src/js/Loading/directives/dataLoading.js" type="text/javascript"></script>
        <script src="bower_components/n52-sensorweb-client-core/src/js/Table/tableModule.js" type="text/javascript"></script>
        <script src="bower_components/n52-sensorweb-client-core/src/js/Table/controller/tableCtrl.js" type="text/javascript"></script>
        <script src="bower_components/n52-sensorweb-client-core/src/js/Table/directives/adjustTableHeight.js" type="text/javascript"></script>
        <script src="bower_components/n52-sensorweb-client-core/src/js/Table/directives/whenScrollEnds.js" type="text/javascript"></script>
        <script src="bower_components/n52-sensorweb-client-core/src/js/Settings/userSettingsModule.js" type="text/javascript"></script>
        <script src="bower_components/n52-sensorweb-client-core/src/js/Settings/controller/clusterMarkerCtrl.js" type="text/javascript"></script>
        <script src="bower_components/n52-sensorweb-client-core/src/js/Settings/controller/concentrationMarkerCtrl.js" type="text/javascript"></script>
        <script src="bower_components/n52-sensorweb-client-core/src/js/Settings/controller/languageSelectorCtrl.js" type="text/javascript"></script>
        <script src="bower_components/n52-sensorweb-client-core/src/js/Settings/controller/permalinkInMailCtrl.js" type="text/javascript"></script>
        <script src="bower_components/n52-sensorweb-client-core/src/js/Settings/controller/permalinkInWindowCtrl.js" type="text/javascript"></script>
        <script src="bower_components/n52-sensorweb-client-core/src/js/Settings/controller/permalinkToClipboardCtrl.js" type="text/javascript"></script>
        <script src="bower_components/n52-sensorweb-client-core/src/js/Settings/controller/qrCodeCtrl.js" type="text/javascript"></script>
        <script src="bower_components/n52-sensorweb-client-core/src/js/Settings/controller/resetStatusButtonCtrl.js" type="text/javascript"></script>
        <script src="bower_components/n52-sensorweb-client-core/src/js/Settings/controller/toggleGeneralizationCtrl.js" type="text/javascript"></script>
        <script src="bower_components/n52-sensorweb-client-core/src/js/Settings/controller/userSettingsCtrl.js" type="text/javascript"></script>
        <script src="bower_components/n52-sensorweb-client-core/src/js/Settings/controller/userSettingsWindowCtrl.js" type="text/javascript"></script>
        <script src="bower_components/n52-sensorweb-client-core/src/js/Settings/directives/languageSelector.js" type="text/javascript"></script>
        <script src="bower_components/n52-sensorweb-client-core/src/js/Settings/directives/qrCode.js" type="text/javascript"></script>
        <script src="bower_components/n52-sensorweb-client-core/src/js/Settings/directives/settingsToggleButton.js" type="text/javascript"></script>
        <script src="bower_components/n52-sensorweb-client-core/src/js/ListSelection/listSelectionModule.js" type="text/javascript"></script>
        <script src="bower_components/n52-sensorweb-client-core/src/js/ListSelection/controller/listSelectionButtonCtrl.js" type="text/javascript"></script>
        <script src="bower_components/n52-sensorweb-client-core/src/js/ListSelection/controller/listSelectionCtrl.js" type="text/javascript"></script>
        <script src="bower_components/n52-sensorweb-client-core/src/js/ListSelection/controller/listSelectionParametersCtrl.js" type="text/javascript"></script>
        <script src="bower_components/n52-sensorweb-client-core/src/js/ListSelection/controller/modalListSelectionCtrl.js" type="text/javascript"></script>
        <script src="bower_components/n52-sensorweb-client-core/src/js/ListSelection/controller/validateParameterConstellationCtrl.js" type="text/javascript"></script>
        <script src="bower_components/n52-sensorweb-client-core/src/js/ListSelection/directives/listSelection.js" type="text/javascript"></script>
        <script src="bower_components/n52-sensorweb-client-core/src/js/ListSelection/directives/modalListSelection.js" type="text/javascript"></script>
        <script src="bower_components/n52-sensorweb-client-core/src/js/Menu/menuModule.js" type="text/javascript"></script>
        <script src="bower_components/n52-sensorweb-client-core/src/js/Menu/controller/menuCtrl.js" type="text/javascript"></script>
        <script src="bower_components/n52-sensorweb-client-core/src/js/Menu/controller/toggleCtrl.js" type="text/javascript"></script>
        <script src="bower_components/n52-sensorweb-client-core/src/js/Metadata/metadata.js" type="text/javascript"></script>
        <script src="bower_components/n52-sensorweb-client-core/src/js/Metadata/directives/procedureRawData.js" type="text/javascript"></script>
        <script src="bower_components/n52-sensorweb-client-core/src/js/Metadata/directives/procedureMetadata.js" type="text/javascript"></script>
        <script src="bower_components/n52-sensorweb-client-core/src/js/Metadata/directives/sosUrl.js" type="text/javascript"></script>
        <script src="bower_components/n52-sensorweb-client-core/src/js/Metadata/directives/timeseriesRawData.js" type="text/javascript"></script>
        <script src="bower_components/n52-sensorweb-client-core/src/js/services/startup/startup.js" type="text/javascript"></script>
        <script src="bower_components/n52-sensorweb-client-core/src/js/services/startup/parameterServices/setConstellationService.js" type="text/javascript"></script>
        <script src="bower_components/n52-sensorweb-client-core/src/js/services/startup/parameterServices/setConstellationServiceHack.js" type="text/javascript"></script>
        <script src="bower_components/n52-sensorweb-client-core/src/js/services/startup/parameterServices/setInternalTimeseriesService.js" type="text/javascript"></script>
        <script src="bower_components/n52-sensorweb-client-core/src/js/services/startup/parameterServices/setLanguageService.js" type="text/javascript"></script>
        <script src="bower_components/n52-sensorweb-client-core/src/js/services/startup/parameterServices/setTimeParameterService.js" type="text/javascript"></script>
        <script src="bower_components/n52-sensorweb-client-core/src/js/services/startup/parameterServices/setTimeseriesOfStatusService.js" type="text/javascript"></script>
        <script src="bower_components/n52-sensorweb-client-core/src/js/services/alert.js" type="text/javascript"></script>
        <script src="bower_components/n52-sensorweb-client-core/src/js/services/barChart.js" type="text/javascript"></script>
        <script src="bower_components/n52-sensorweb-client-core/src/js/services/color.js" type="text/javascript"></script>
        <script src="bower_components/n52-sensorweb-client-core/src/js/services/favorite.js" type="text/javascript"></script>
        <script src="bower_components/n52-sensorweb-client-core/src/js/services/interface.js" type="text/javascript"></script>
        <script src="bower_components/n52-sensorweb-client-core/src/js/services/permalink.js" type="text/javascript"></script>
        <script src="bower_components/n52-sensorweb-client-core/src/js/services/settings.js" type="text/javascript"></script>
        <script src="bower_components/n52-sensorweb-client-core/src/js/services/status.js" type="text/javascript"></script>
        <script src="bower_components/n52-sensorweb-client-core/src/js/services/styleTs.js" type="text/javascript"></script>
        <script src="bower_components/n52-sensorweb-client-core/src/js/services/time.js" type="text/javascript"></script>
        <script src="bower_components/n52-sensorweb-client-core/src/js/services/timeseries.js" type="text/javascript"></script>
        <script src="bower_components/n52-sensorweb-client-core/src/js/services/utils.js" type="text/javascript"></script>
        <script src="bower_components/n52-sensorweb-client-core/src/js/helper/helper.js" type="text/javascript"></script>
        <script src="bower_components/n52-sensorweb-client-core/src/js/helper/modal.js" type="text/javascript"></script>
        <script src="bower_components/n52-sensorweb-client-core/src/js/helper/controller/ie9Ctrl.js" type="text/javascript"></script>
        <script src="bower_components/n52-sensorweb-client-core/src/js/helper/controller/mobile.js" type="text/javascript"></script>
        <script src="bower_components/n52-sensorweb-client-core/src/js/helper/service/languageSetter.js" type="text/javascript"></script>
        <script src="bower_components/n52-sensorweb-client-core/src/js/helper/service/logNotifier.js" type="text/javascript"></script>
        <script src="bower_components/n52-sensorweb-client-core/src/js/helper/service/mapHelper.js" type="text/javascript"></script>
        <script src="bower_components/n52-sensorweb-client-core/src/js/plugins/extendedGetTsData.js" type="text/javascript"></script>
        <!-- end core script tags -->
        <!-- /build -->

        <!-- build:js app.js -->
        <!-- start client script tags -->
        <script src="app.js" type="text/javascript"></script>
        <script src="js/map.js" type="text/javascript"></script>
        <script src="js/navigation.js" type="text/javascript"></script>
        <script src="js/fotoquest/fotoquest.js" type="text/javascript"></script>
        <!-- end client script tags -->
        <!-- /build -->

        <!--[if lte IE 10]>
        <!-- build:js js/favoriteIE9ImExportCore.min.js -->
        <!-- /build -->
        <![endif]-->

        <!-- build:remove -->
        <!--[if lt IE 10]>
        <script src="bower_components/n52-sensorweb-client-core/src/js/IE9/favoriteIE9ImExportCore.js"></script>
        <![endif]-->
        <!-- /build -->

    </head>
    <body class="jsc-main">
        <navigation></navigation>
        <div ng-view></div>
    </body>
</html>
