@import "../variables.less";

.profile-view {
    .diagram {
        position: absolute;
        top: 0;
        bottom: 0 !important;
        width: 100%;

        .chart-annotation {
            bottom: 15px;
        }
    }
}

.profile-selection {
    .tab-content {
        padding: 10px;
        border: 1px solid #ddd;
        border-top: 0;
        overflow: auto;
    }

    .map-wrapper {
        width: 100%;
        height: 100%;
        box-shadow: 0 0 5px -1px rgba(0, 0, 0, 1);
        border: 4px #fff solid;
    }
}
