<n52-permalink-button *ngIf="datasetIds.length !== 0" [generatedUrlFunction]="permalinkSrvc.createPermalink"></n52-permalink-button>
<div class="profile-combi" *ngIf="datasetIds.length !== 0">
    <div class="header">{{datasetLabel}}</div>
    <div class="body">
        <div class="chart">
            <n52-plotly-profile-graph [datasetIds]="datasetIds" [datasetOptions]="datasetOptions" (onHighlight)="onChartHighlight($event)"></n52-plotly-profile-graph>
        </div>
        <div class="map">
            <n52-geometry-map-viewer [mapId]="'combiViewMap'" [geometry]="geometry" [highlight]="highlightGeometry"></n52-geometry-map-viewer>
        </div>
    </div>
</div>

<div *ngIf="datasetIds.length === 0" class="container n52-alert">
    <div class="alert alert-primary" role="alert">
        <a routerLink='/profiles/selection' class='alert-link'>{{'profiles.hint.select-profile' | translate}}</a>
    </div>
</div>