<div class="container">
  <div class="card-columns">
    <div class="card text-center" *ngFor="let favorite of favorites">
      <div class="card-header">
        <div *ngIf="!favorite.editLabel" class="delete" (click)="deleteFavorite(favorite)">
          <span class="fa fa-times"></span>
        </div>
        <div *ngIf="!favorite.editLabel">
          <span>{{favorite.label}}</span>
          <span class="fa fa-pencil" (click)="favorite.editLabel = true; editedLabel = favorite.label"></span>
        </div>
        <div *ngIf="favorite.editLabel">
          <div class="input-group">
            <input type="text" class="form-control" [(ngModel)]="editedLabel">
            <span class="input-group-btn">
              <button class="btn btn-primary" type="button" (click)="setLabel(favorite, editedLabel); favorite.editLabel = false;">
                <span class="fa fa-check"></span>
              </button>
              <button class="btn btn-primary" type="button" (click)="favorite.editLabel = false;">
                <span class="fa fa-times"></span>
              </button>
            </span>
          </div>
        </div>
      </div>
      <div class="card-body">
        <div class="diagram">
          <n52-flot-timeseries-graph [datasetIds]="[favorite.favorite.internalId]" [datasetOptions]="favorite.option" [graphOptions]="diagramOptions"
            [timeInterval]="favorite.timespan" (onTimespanChanged)="timeChanged($event)" (onLoading)="favorite.loading = $event"></n52-flot-timeseries-graph>
          <div class="loading-overlay" *ngIf="favorite.loading">
            <i class="fa fa-spinner fa-spin fa-3x fa-fw"></i>
          </div>
        </div>
        <div class="">
          <small class="text-muted">{{'timeseries.favorites.lastMeasurements' | translate}}: {{favorite.timespan.from | date}} - {{favorite.timespan.to
            | date}}</small>
        </div>
      </div>
      <div class="card-footer text-muted">
        <div class="btn btn-primary" (click)="addToDiagram(favorite)">{{'timeseries.favorites.addToDiagram' | translate}}</div>
      </div>
    </div>
  </div>
</div>
