<ng-template #modalTimeseriesOptionsEditor let-c="close" let-d="dismiss">
  <div class="modal-header">
      <h4 class="modal-title">Timeseries style</h4>
      <button type="button" class="close" aria-label="Close" (click)="d()">
          <span aria-hidden="true">&times;</span>
      </button>
  </div>
  <div class="modal-body">
      <n52-color-selector [color]="editableOption.color" (onColorChange)="tempColor = $event"></n52-color-selector>
  </div>
  <div class="modal-footer">
      <button type="button" class="btn btn-light" (click)="updateOption(); c();">Ok</button>
      <button type="button" class="btn btn-light" (click)="c();">Cancel</button>
  </div>
</ng-template>

<n52-permalink-button *ngIf="datasetIds.length !== 0" [generatedUrlFunction]="permalinkSrvc.createPermalink"></n52-permalink-button>
<div *ngIf="datasetIds.length == 0 && selectedProvider" class="container n52-alert">
  <div class="alert alert-primary" role="alert">
    <a routerLink="/timeseries/map-selection" class="alert-link">{{'timeseries.diagram.hint.select-by-map' | translate}}</a>
  </div>
</div>
<div *ngIf="!selectedProvider" class="container n52-alert">
  <div class="alert alert-primary" role="alert">
    <a routerLink="/timeseries/provider" class="alert-link">{{'timeseries.diagram.hint.select-provider' | translate}}</a>
  </div>
</div>
<div class="content" *ngIf="datasetIds.length > 0">
  <div class="diagram-wrapper">
    <div class="diagram">
      <n52-flot-timeseries-graph [datasetIds]="datasetIds" [selectedDatasetIds]="selectedIds" [datasetOptions]="datasetOptions"
        [graphOptions]="diagramOptions" [timeInterval]="timespan" (onDatasetSelected)="timeseriesSelected($event)" (onTimespanChanged)="timeChanged($event)"></n52-flot-timeseries-graph>
    </div>
    <div class="overview-diagram">
      <n52-flot-overview-timeseries-graph [datasetIds]="datasetIds" [rangefactor]="2" [datasetOptions]="datasetOptions" [graphOptions]="overviewOptions"
        [timeInterval]="timespan" (onTimespanChanged)="timeChanged($event)"></n52-flot-overview-timeseries-graph>
    </div>
    <div class="control-bar">
      <!-- <swc-refresh-time></swc-refresh-time> -->
      <!-- <swc-reload-button></swc-reload-button> -->
      <!-- <swc-yaxis-hide-button></swc-yaxis-hide-button> -->
      <n52-timespan-shift-selector [timespan]="timespan" (onTimespanChange)="timeChanged($event)"></n52-timespan-shift-selector>
      <!-- <a class="btn btn-default" data-action="dataTable" ng-click="toggle()"><span class="glyphicon glyphicon-list"></span></a> -->
    </div>
  </div>
  <div class="legend scrollable">
    <h3 class="header">{{'timeseries.diagram.legend' | translate}}</h3>
    <div class="legend-entry">
      <div *ngFor="let id of datasetIds">
        <n52-timeseries-entry [datasetId]="id" [selected]="isSelected(id)" [datasetOptions]="datasetOptions.get(id)" [timeInterval]="timespan"
          (onDeleteDataset)="deleteTimeseries(id)" (onSelectDataset)="selectTimeseries($event, id)" (onSelectDate)="jumpToDate($event)"
          (onUpdateOptions)="updateOptions($event, id)" (onEditOptions)="editOption($event)"></n52-timeseries-entry>
      </div>
    </div>
  </div>
</div>