<div class="empty-diagram" *ngIf="seriesIds.length == 0">
  <span>Sie haben keine Zeitreihe ausgewählt, die gewählten Zeitreihen haben keine Werte in dem derzeitigen Zeitraum oder die Zeitreihen sind unsichtbar.</span>
</div>
<div class="content" *ngIf="seriesIds.length > 0">
  <div class="diagram-wrapper">
    <div class="diagram">
      <!-- <n52-flot-diagram [datasets]="timeseries" [data]="data" [options]="diagramOptions" [timespan]="timespan" (onTimespanChanged)="timeChanged($event)"></n52-flot-diagram> -->
      <n52-flot-timeseries-diagram [seriesIds]="seriesIds" [selectedSeriesIds]="selectedIds" [seriesOptions]="seriesOptions" [graphOptions]="diagramOptions"
        [timeInterval]="timespan" (onSeriesSelected)="timeseriesSelected($event)" (onTimespanChanged)="timeChanged($event)"></n52-flot-timeseries-diagram>
    </div>
    <div class="overview-diagram">
      <!-- <n52-flot-overview-diagram [datasets]="timeseries" [rangefactor]="2" [options]="overviewOptions" [timespan]="timespan" (onTimespanChanged)="timeChanged($event)"></n52-flot-overview-diagram> -->
    </div>
    <div class="control-bar">
      <!-- <swc-refresh-time></swc-refresh-time> -->
      <!-- <swc-reload-button></swc-reload-button> -->
      <!-- <swc-yaxis-hide-button></swc-yaxis-hide-button> -->
      <n52-timespan-shift-selector [timespan]="timespan" (onTimespanChange)="timeChanged($event)"></n52-timespan-shift-selector>
      <!-- <a class="btn btn-default" data-action="dataTable" ng-click="toggle()"><span class="glyphicon glyphicon-list"></span></a> -->
    </div>
  </div>
  <div class="legend scrollable">
    <h3 class="header">Legende</h3>
    <div class="legend-entry">
      <div *ngFor="let entry of timeseries">
        <n52-legend-entry [dataset]="entry" [selected]="isSelected(entry)" [datasetOptions]="seriesOptions.get(entry.internalId)"
          (onDeleteDataset)="deleteTimeseries(entry)" (onSelectDataset)="selectTimeseries($event, entry)" (onUpdateOptions)="updateOptions($event, entry)"
          (onSelectDate)="jumpToDate($event)"></n52-legend-entry>
      </div>
    </div>
  </div>
</div>