<div *ngIf="datasetIds.length == 0" class="container n52-alert">
  <div class="alert alert-primary" role="alert">
    <span>Sie haben keine Zeitreihe ausgewählt, wählen Sie einen
      <a routerLink="/timeseries/provider" class="alert-link">Anbieter</a>
      , oder eine Zeitreihe über die
      <a routerLink="/timeseries/map-selection" class="alert-link">Karte</a>
      oder die
      <a routerLink="/timeseries/list-selection" class="alert-link">Listenauswahl</a>
    </span>.
  </div>
</div>
<div class="content" *ngIf="datasetIds.length > 0">
  <div class="diagram-wrapper">
    <div class="diagram">
      <n52-flot-timeseries-graph [datasetIds]="datasetIds" [selectedDatasetIds]="selectedIds" [datasetOptions]="datasetOptions"
        [graphOptions]="diagramOptions" [timeInterval]="timespan" (onDatasetSelected)="timeseriesSelected($event)" (onTimespanChanged)="timeChanged($event)"></n52-flot-timeseries-graph>
    </div>
    <div class="overview-diagram">
      <n52-flot-overview-timeseries-graph [datasetIds]="datasetIds" [rangefactor]="2" [datasetOptions]="datasetOptions" [graphOptions]="overviewOptions"
        [timeInterval]="timespan" (onTimespanChanged)="timeChanged($event)"></n52-flot-overview-timeseries-graph>
    </div>
    <div class="control-bar">
      <!-- <swc-refresh-time></swc-refresh-time> -->
      <!-- <swc-reload-button></swc-reload-button> -->
      <!-- <swc-yaxis-hide-button></swc-yaxis-hide-button> -->
      <n52-timespan-shift-selector [timespan]="timespan" (onTimespanChange)="timeChanged($event)"></n52-timespan-shift-selector>
      <!-- <a class="btn btn-default" data-action="dataTable" ng-click="toggle()"><span class="glyphicon glyphicon-list"></span></a> -->
    </div>
  </div>
  <div class="legend scrollable">
    <h3 class="header">Legende</h3>
    <div class="legend-entry">
      <div *ngFor="let id of datasetIds">
        <n52-timeseries-entry [datasetId]="id" [selected]="isSelected(id)" [datasetOptions]="datasetOptions.get(id)" [timeInterval]="timespan"
          (onDeleteDataset)="deleteTimeseries(id)" (onSelectDataset)="selectTimeseries($event, id)" (onSelectDate)="jumpToDate($event)"
          (onUpdateOptions)="updateOptions($event, id)"></n52-timeseries-entry>
      </div>
    </div>
  </div>
</div>