:host {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    .navbar {
        flex: 0 0 56px;
    }
    .content {
        flex: 1;
        position: relative;
    }
}