<div class="main">
  <ul class="nav nav-pills justify-content-center">
    <li class="nav-item">
      <a class="nav-link" routerLink="/profiles/diagram" routerLinkActive="active">{{'navigation.profiles.diagram' | translate}}</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/profiles/selection" routerLinkActive="active">{{'navigation.profiles.selection' | translate}}</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/profiles/combi" routerLinkActive="active">{{'navigation.profiles.combi' | translate}}</a>
    </li>
  </ul>
  <div class="content">
    <router-outlet></router-outlet>
  </div>
</div>