<ng-template #modalStationaryPlatform let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">Platform: {{stationaryPlatform.label}}</h4>
    <button type="button" class="close" aria-label="Close" (click)="d()">
        <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div style="word-wrap: break-word;">{{stationaryPlatformDataset.label}}</div>
    <div *ngIf="stationaryPlatformLoading">Läd die verfügbaren Zeitpunkte...</div>
    <div *ngIf="!stationaryPlatformLoading" style="padding: 10px;">
      <div>Selektiere ein Zeitpunkt um das Profile zu sehen:</div>
      <n52-time-list-selector [timeList]="stationaryTimestamps" (onTimeSelected)="onTimeselected($event); c();"></n52-time-list-selector>
    </div>
  </div>
</ng-template>

<ng-template #modalMobilePreview let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title" style="word-break: break-word;">{{mobilePreviewDataset.header}}</h4>
    <button type="button" class="close" aria-label="Close" (click)="d()">
        <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="time-at" style="text-align: center;">
      <span>Zeitpunkt:</span>
      <span>{{mobilePreviewTimestamp | date : 'medium'}}</span>
    </div>
    <n52-plotly-profile-graph [datasetIds]="[mobilePreviewDataset.internalId]" [datasetOptions]="mobilePreviewOptions"></n52-plotly-profile-graph>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-light" (click)="goToCombiView();c();">Kombinierter-Ansicht</button>
    <button type="button" class="btn btn-light" (click)="addToChart();c();">Diagramm-Ansicht</button>
    <button type="button" class="btn btn-light" (click)="c();">Cancel</button>
  </div>
</ng-template>

<n52-permalink-button [generatedUrlFunction]="selectionPermalink.createPermalink"></n52-permalink-button>
<div class="container">
  <ngb-tabset #profileSelection="ngbTabset" class="wrapper" justify="fill">
    <ngb-tab id="selectProvider">
      <ng-template ngbTabTitle>
        <span>Wähle Anbieter</span>
      </ng-template>
      <ng-template ngbTabContent class="tab-content">
        <n52-provider-selector [providerList]="providerList" [providerBlacklist]="providerBlacklist" [filter]="providerFilter" (onProviderSelected)="providerSelected($event, true);"></n52-provider-selector>
      </ng-template>
    </ngb-tab>
    <ngb-tab id="selectOffering" [disabled]="selectedProvider == undefined">
      <ng-template ngbTabTitle>
        <span>Wähle Offering</span>
      </ng-template>
      <ng-template ngbTabContent>
        <n52-service-filter-selector [endpoint]="'offering'" [filter]="offeringFilter" [serviceUrl]="selectedProvider.providerUrl"
          [selectionId]="selectedOffering?.id" (onItemSelected)="offeringSelected($event, true)"></n52-service-filter-selector>
      </ng-template>
    </ngb-tab>
    <ngb-tab id="selectPhenomenon" [disabled]="selectedOffering == undefined">
      <ng-template ngbTabTitle>
        <span>Wähle Phänomen</span>
      </ng-template>
      <ng-template ngbTabContent>
        <n52-service-filter-selector [endpoint]="'phenomenon'" [filter]="phenomenonFilter" [serviceUrl]="selectedProvider.providerUrl"
          [selectionId]="selectedPhenomenon?.id" (onItemSelected)="phenomenonSelected($event, true)"></n52-service-filter-selector>
      </ng-template>
    </ngb-tab>
    <ngb-tab id="selectProcedure" [disabled]="selectedPhenomenon == undefined">
      <ng-template ngbTabTitle>
        <span>Wähle Sensor</span>
      </ng-template>
      <ng-template ngbTabContent>
        <n52-service-filter-selector [endpoint]="'procedure'" [filter]="procedureFilter" [serviceUrl]="selectedProvider.providerUrl"
          [selectionId]="selectedProcedure?.id" (onItemSelected)="procedureSelected($event, true)"></n52-service-filter-selector>
      </ng-template>
    </ngb-tab>
    <ngb-tab id="selectPlatform" [disabled]="selectedProcedure == undefined">
      <ng-template ngbTabTitle>
        <span>Wähle Platform</span>
      </ng-template>
      <ng-template ngbTabContent>
        <div class="header">Wähle entweder eine stationäre oder mobile Platform:</div>
        <div class="platform-body">
          <div class="stationary">
            <div class="header">Stationäre Platform:</div>
            <n52-platform-map-selector class="map" [mapId]="'profiles-stationary'" [serviceUrl]="selectedProvider.providerUrl" [filter]="stationaryPlatformFilter"
              (onSelected)="onStationaryPlatformSelected($event)"></n52-platform-map-selector>
          </div>
          <div class="mobile">
            <div class="header">Mobile Platform:</div>
            <n52-service-filter-selector [endpoint]="'feature'" [filter]="mobilePlatformFilter" [serviceUrl]="selectedProvider.providerUrl"
              [selectionId]="selectedFeature?.id" (onItemSelected)="featureSelected($event, true)"></n52-service-filter-selector>
          </div>
        </div>
      </ng-template>
    </ngb-tab>
    <ngb-tab id="selectProfile" [disabled]="selectedFeature == undefined">
      <ng-template ngbTabTitle>
        <span>Wähle Profile</span>
      </ng-template>
      <ng-template ngbTabContent>
        <div class="timeslider">
          <n52-time-range-slider-selector [timeList]="mobileTimestamps" (onTimespanSelected)="onTimespanSelected($event)"></n52-time-range-slider-selector>
        </div>
        <div class="trajectory-map">
          <n52-profile-trajectory-map-selector class="map" [mapId]="'profiles-stationary'" [serviceUrl]="selectedProvider.providerUrl"
            [filter]="mobilePlatformFilter" [selectedTimespan]="selectedMobileTimespan" (onSelected)="onMobileSelected($event)"
            (onTimeListDetermined)="timelistDetermined($event)"></n52-profile-trajectory-map-selector>
        </div>
      </ng-template>
    </ngb-tab>
  </ngb-tabset>
</div>