@import '../../../../styles/base';

:host {
    .legendItem {
        background-color: white;
        padding: 3px;
        border-radius: 5px;
        margin-bottom: 5px;

        .small {
            font-size: 90%;
            word-break: break-all;
        }

        &.selected {
            border-width: 5px;
            border-style: solid;
        }

        .legendItemheader {
            cursor: pointer;
        }

        .legendicons {
            span {
                margin: 0 4%;
                font-size: 150%;

                &:hover {
                    cursor: pointer;
                }
            }

            .delete {
                z-index: 5;
            }
        }

        .noDataWarning {
            border: red solid 2px;
            border-radius: 5px;
            padding: 3px;

            .red {
                color: red;
            }
        }

        .additionalLegendEntry:hover {
            cursor: pointer;
        }

        .refEntry.selected {
            border-style: solid;
            border-width: 2px;
            border-radius: 2px;
            margin: 2px 0;
        }

        .loading-overlay {
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            opacity: 0.5;
            z-index: 1;
            display: flex;
            justify-content: center;
            align-items: center;

            .fa-spin {
                $icon-size: 25px;
                color: white;
                font-size: $icon-size;
                width: $icon-size;
                height: $icon-size;
            }
        }
    }
    /* don't display the hide diagram button on small screens*/
    @media screen and (max-width: $responsive-mobile-width) {
        .hidden-small {
            display: none;
        }

        .legend.active {
            background: rgba(66, 139, 202, 0.65);
        }
    }
    @media screen and (max-width: $responsive-tablet-width) {
        .hidden-medium {
            display: none;
        }
    }
}
