/* colors */
/* mobile */
#tableView {
  overflow: auto;
  padding: 10px;
}
@media screen and (max-width: 768px) {
  #tableView {
    font-size: 0.8em;
  }
}
#tableView .table {
  margin: 0px;
}
#tableView .table thead {
  font-weight: bold;
  cursor: pointer;
}
#tableView .paging {
  text-align: center;
}
#tableView .pagination {
  margin: 0px;
}
#tableView .pagination a {
  cursor: pointer;
}
