/* colors */
@color-primary: rgba(255, 255, 255, 1.0); // white
@color-secondary: rgba(15, 66, 106, 1.0); // dark blue
@color-blue: rgba(18, 80, 128, 1.0); // a bit lighter blue
@color-red: red; 

@text-color: @color-blue;
@text-color-on-secondary-background: @color-primary;

@hover-background-color: @color-secondary;
@hover-color: @color-primary;

@selection-background-color: @color-secondary;
@selection-color: @color-primary;

@color-chart-annotation: @color-red;

// main menu
@menu-selected-background-color: @color-blue;
@menu-selected-text-color: @color-primary;
@menu-background-color: @color-secondary;
@menu-text-color: @color-primary;

/* mobile */
@responsive-mobile-width: 768px;
@responsive-tablet-width: 992px;

@image-path: "./images/";