/* colors */
@color-grey: rgb(241, 241, 241);
@color-blue: rgb(10, 97, 166);
@color-selected-grey: rgb(218, 218, 218);
@color-black-text: rgb(68, 68, 51);

@color-primary: @color-selected-grey;
@color-secondary: @text-color;
@color-red: red;

@text-color: @color-black-text;
@text-color-on-secondary-background: white;

@hover-background-color: @color-selected-grey;
@hover-color: @color-secondary;

@selection-background-color: @color-primary;
@selection-color: @color-secondary;

@color-chart-annotation: @color-red;

// main menu
@menu-selected-background-color: @color-selected-grey;
@menu-selected-text-color: @color-black-text;
@menu-background-color: @color-grey;
@menu-text-color: @color-black-text;

/* mobile */
@responsive-mobile-width: 768px;
@responsive-tablet-width: 992px;

@image-path: "./images/";