/* colors */
/* mobile */
.navbar-default {
  border-color: white;
  background-color: #004890;
}
.navbar-default .navbar-header .navbar-brand {
  cursor: default;
  color: #004890;
  width: 240px;
  margin: 0 auto;
  background: url(http://www.nexosproject.eu/sites/all/themes/nexosproject/images/set_nexos_new2.svg) 0 3px no-repeat;
  background-size: 600px;
  background-color: white;
  display: block;
}
.navbar-default .navbar-header .navbar-header-text {
  margin-left: 10px;
}
.navbar-default .navbar-header .button-right {
  float: right;
  margin-right: 10px;
}
.navbar-default .navbar-nav > li > a {
  color: white;
}
.navbar-default .navbar-nav > li > a:hover {
  color: white;
  background-color: #ff9f00;
  cursor: pointer;
}
.navbar-default .navbar-nav > .active > a {
  color: white;
  background-color: #ff9f00;
}
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: white;
  background-color: #ff9f00;
}
.navbar-default .navbar-toggle {
  border: none;
  background-color: white;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus,
.navbar-default .navbar-toggle collapsed {
  background-color: white;
}
