<div class="hbox viewport">
    <div class="hbox boxItem">
        <div class="swc-page swc-page-current">
            <div class="fullHeight">
                <div class="col-xs-12 col-sm-8 col-lg-9 fullHeight">
                    <div class="visible-xs leftPanelButton" ng-controller="SwcPhenomenaButtonController">
                        <button type="button" class="btn btn-primary btn-xs" ng-hide="status.showPhenomena" ng-click="$event.stopPropagation(); togglePhenomena()">
                                <span ng-hide="selectedPhenomenon.selection.label" translate="main.allPhenomena"></span>
                                <span>{{selectedPhenomenon.selection.label}}</span>
                            </button>
                        <button type="button" class="btn btn-primary btn-xs" ng-show="status.showPhenomena" ng-click="$event.stopPropagation(); togglePhenomena()">X</button>
                    </div>
                    <div id="map" ng-controller="SwcBasicMapCtrl as mapCtrl">
                        <station-map-selector map-id="timeseries" service-url="$ctrl.selectedProvider.providerUrl" filter="$ctrl.stationFilter" on-station-selected="$ctrl.stationSelected(station)" map-layers="$ctrl.layers" cluster="$ctrl.cluster" class="vbox boxItem" style="height: 100%;"></station-map-selector>
                        <swc-search-control map-id="timeseries"></swc-search-control>
                        <swc-zoom-controls map-id="timeseries"></swc-zoom-controls>
                        <swc-locate-control map-id="timeseries"></swc-locate-control>
                    </div>
                </div>
                <div class="col-xs-8 col-sm-4 col-lg-3 fullHeight phenomena rightPanel" ng-controller="SwcPhenomenaButtonController" ng-class="{active:status.showPhenomena}">
                    <div class="phenomena-list">
                        <a class="phenomenonItem" ng-click="$ctrl.deselectPhenomenon();">
                            <div class="item" ng-class="{selected: $ctrl.selectedPhenomenon == null}">
                                <span class="glyphicon glyphicon-refresh loading icon-spin"></span>
                                <span translate="main.allPhenomena"></span>
                            </div>
                        </a>
                        <hr>
                        <service-filter-selector endpoint="'phenomenon'" filter="$ctrl.phenomenonFilter" service-url="$ctrl.selectedProvider.providerUrl" selection-id="$ctrl.selectedPhenomenon.id" on-item-selected="$ctrl.phenomenonSelected(item, true)"></service-filter-selector>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
