<n52-permalink-button *ngIf="datasetIds.length !== 0" [generatedUrlFunction]="permalinkSrvc.createPermalink"></n52-permalink-button>
<div *ngIf="datasetIds.length == 0" class="container n52-alert">
  <div class="alert alert-primary" role="alert">
    <a routerLink="/timeseries/map-selection" class="alert-link">{{'timeseries.diagram.hint.select-timeseries-first' | translate}}</a>
  </div>
</div>
<div class="container-fluid" [ngClass]="{ 'table-view': timeriesView === 'table'}" *ngIf="datasetIds.length > 0">
  <div class="row row-offcanvas row-offcanvas-right" [ngClass]="{active: legendToggled}">
    <div class="col-12 col-md-8 col-xl-9 diagram-wrapper">
      <button type="button" class="btn btn-primary btn-sm d-md-none legend-button" (click)="legendToggled = !legendToggled;">{{'timeseries.diagram.legend.header' | translate}}</button>

      <n52-dataset-table *ngIf="timeriesView == 'table'" [datasetIds]="datasetIds" [selectedDatasetIds]="selectedIds" [timeInterval]="timespan" [datasetOptions]="datasetOptions"></n52-dataset-table>  
      
      <div *ngIf="timeriesView === 'diagram'" class="diagram">
        <n52-d3-timeseries-graph [datasetIds]="datasetIds" [selectedDatasetIds]="selectedIds" [datasetOptions]="datasetOptions" [timeInterval]="timespan"
          [presenterOptions]="diagramOptions" (onTimespanChanged)="timeChanged($event)" (onContentLoading)="onGraphLoading($event)"></n52-d3-timeseries-graph>
        <div class="loading-overlay" *ngIf="graphLoading">
          <i class="fa fa-spinner fa-spin fa-3x fa-fw"></i>
        </div>
      </div>
      <div *ngIf="timeriesView === 'diagram'" class="overview-diagram d-none d-md-block">
        <n52-d3-overview-timeseries-graph [datasetIds]="datasetIds" [rangefactor]="2" [datasetOptions]="datasetOptions" [presenterOptions]="overviewOptions"
          [timeInterval]="timespan" (onTimespanChanged)="timeChanged($event)" (onContentLoading)="onOverviewLoading($event)"></n52-d3-overview-timeseries-graph>
        <div class="loading-overlay" *ngIf="overviewGraphLoading">
          <i class="fa fa-spinner fa-spin fa-3x fa-fw"></i>
        </div>
      </div>
      <div class="control-bar">
        <div class="row">
            <div class="col">
                <n52-custom-timespan-shift-selector [timespan]="timespan" (onTimespanChange)="timeChanged($event)" (onOpenTimeSettings)="openTimeSettings($event)"></n52-custom-timespan-shift-selector>
            </div>
            <div class="col">
                    <div class="btn-group btn-group-toggle d-flex justify-content-center row" ngbRadioGroup name="radioBasic" [(ngModel)]="timeriesView">
                        <label ngbButtonLabel class="col btn-light">
                            <input ngbButton type="radio" value="diagram"><span class="fa fa-line-chart"></span>
                        </label>
                        <label ngbButtonLabel class="col btn-light">
                            <input ngbButton type="radio" value="table"><span class="fa fa-table"></span>
                        </label>
                    </div>
            </div>
        </div>
      </div>
    </div>
    <div class="col-9 col-md-4 col-xl-3 sidebar-offcanvas" id="sidebar">
      <div class="legend">
        <h3 class="header d-none d-md-block">{{'timeseries.diagram.legend.header' | translate}}</h3>
        <div class="legend-entry">
          <div *ngFor="let id of datasetIds">
            <n52-legend-entry [datasetId]="id" [selected]="isSelected(id)" [highlight]="id === highlightId" [datasetOptions]="datasetOptions.get(id)"
              [timeInterval]="timespan" (onDeleteDataset)="deleteTimeseries(id)" (onSelectDataset)="selectTimeseries($event, id)"
              (onSelectDate)="jumpToDate($event)" (onUpdateOptions)="updateOptions($event, id)" (onEditOptions)="editOption($event)"
              (onShowGeometry)="showGeometry($event)"></n52-legend-entry>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
