<!-- <div class="container">
    <uib-tabset class="selectionListContent">
        <uib-tab>
            <uib-tab-heading>
                <span translate="listSelection.headers.category"></span>
            </uib-tab-heading>
            <n52-list-selector [parameters]="$ctrl.categoryParams" [selector-id]="'category'" [provider-list]="$ctrl.providerList" (on-dataset-selection)="$ctrl.datasetSelected($event.dataset, $event.url)"></n52-list-selector>
        </uib-tab>
        <uib-tab>
            <uib-tab-heading>
                <span translate="listSelection.headers.station"></span>
            </uib-tab-heading>
            <n52-list-selector [parameters]="$ctrl.stationParams" [selector-id]="'station'" [provider-list]="$ctrl.providerList" (on-dataset-selection)="$ctrl.datasetSelected(dataset, url)"></n52-list-selector>
        </uib-tab>
        <uib-tab>
            <uib-tab-heading>
                <span translate="listSelection.headers.phenomenon"></span>
            </uib-tab-heading>
            <n52-list-selector [parameters]="$ctrl.phenomenonParams" [selector-id]="'phenomenon'" [provider-list]="$ctrl.providerList" (on-dataset-selection)="$ctrl.datasetSelected(dataset, url)"></n52-list-selector>
        </uib-tab>
        <uib-tab>
            <uib-tab-heading>
                <span translate="listSelection.headers.procedure"></span>
            </uib-tab-heading>
            <n52-list-selector [parameters]="$ctrl.procedureParams" [selector-id]="'procedure'" [provider-list]="$ctrl.providerList" (on-dataset-selection)="$ctrl.datasetSelected(dataset, url)"></n52-list-selector>
        </uib-tab>
    </uib-tabset>
</div> -->
<n52-timeseries-list-selection></n52-timeseries-list-selection>
