/* colors */
/* mobile */
.btn {
  color: #626250;
}
.btn:hover {
  background-color: #bde6f3;
  color: #626250;
  border-color: #bde6f3;
}
.btn-subtitle {
  font-size: 70%;
}
.btn-primary {
  background-color: #66c5e4;
  border-color: #66c5e4;
}
.btn-primary:hover {
  background-color: #bde6f3;
  border-color: #bde6f3;
}
.btn-default:hover {
  background-color: #bde6f3;
  color: #626250;
}
