/* colors */
/* mobile */
.btn {
  color: #004890;
}
.btn:hover {
  background-color: #ff9f00;
  color: #004890;
  border-color: #ff9f00;
}
.btn-subtitle {
  font-size: 70%;
}
.btn-primary {
  background-color: #004890;
  border-color: #004890;
  color: #ffffff;
}
.btn-primary:hover {
  background-color: #ff9f00;
  border-color: #ff9f00;
}
.btn-default:hover {
  background-color: #ff9f00;
  color: #004890;
}
