/* colors */
/* mobile */
.btn {
  color: #0f426a;
}
.btn:hover {
  background-color: #125080;
  color: white;
  border-color: #125080;
}
.btn-subtitle {
  font-size: 70%;
}
.btn-primary {
  background-color: #125080;
  border-color: white;
  color: white;
}
.btn-primary:hover {
  background-color: #125080;
  border-color: #125080;
}
.btn-default:hover {
  background-color: #125080;
  color: white;
}
