/* colors */
/* mobile */
.modal-content {
  border: 0px solid white;
}
.modal-content .modal-header {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  background-color: #0f426a;
}
.modal-content .modal-header .close {
  color: white;
  opacity: 1;
}
.modal-content .modal-header .modal-title {
  color: white;
  /*            text-align: center;
            background-repeat: no-repeat;
            background-image: url("../images/favicon.ico");*/
}
