<div ng-if="$ctrl.profile">
    <div class="legendItem" style="position: relative;" ng-style="{'border-color': $ctrl.profile.style.color}" ng-class="{'selected': $ctrl.isSelectionToggled}" ng-click="$ctrl.toggleSelection($ctrl.profile)">
        <div class="loading-overlay" ng-show="$ctrl.profile.loadingData" ng-style="{'background-color': $ctrl.profile.style.color}">
            <div class="glyphicon glyphicon-refresh icon-spin"></div>
        </div>

        <div class="legendItemheader">
            <div class="legendItemLabel" ng-style="{color: $ctrl.profile.style.color}">
                <span>{{$ctrl.profile.label}}</span>
                <!--<swc-favorite-add-star timeseries="timeseries"></swc-favorite-add-star>-->
            </div>
            <div class="noDataWarning firstLastEntry" ng-show="$ctrl.profile.hasDataInCurrentExtent">
                <div>
                    <span class="glyphicon glyphicon-warning-sign red"></span>
                    <span class="small" translate="legend.entry.noData"></span>
                </div>
                <div class="additionalLegendEntry" ng-controller="SwcJumpToFirstLatestValuesCtrl" ng-click="$event.stopPropagation(); jumpToLastTimeStamp($ctrl.profile.lastValue)">
                    <span class="glyphicon glyphicon-chevron-right"></span>
                    <span class="small" translate="legend.entry.jumpToLastValue"></span>
                </div>
            </div>
            <div class="small" ng-if="$ctrl.data[0].timestamp">{{$ctrl.data[0].timestamp | date: 'dd.MM.yy HH:mm'}}</div>
            <div class="small">{{$ctrl.profile.seriesParameters.phenomenon.label || $ctrl.profile.parameters.phenomenon.label}} ({{$ctrl.profile.uom}})</div>
            <div class="small">{{$ctrl.profile.seriesParameters.procedure.label || $ctrl.profile.parameters.procedure.label}}</div>
            <div class="small" ng-show="{{$ctrl.profile.seriesParameters.category.label || $ctrl.profile.parameters.category.label}}">{{$ctrl.profile.seriesParameters.category.label || $ctrl.profile.seriesParameters.category.label}}</div>
        </div>
        <div class="legendicons">
            <span class="glyphicon glyphicon-eye-close" ng-class="{'glyphicon-eye-close' : !$ctrl.isToggled, 'glyphicon-eye-open': $ctrl.isToggled}" ng-click="$event.stopPropagation(); $ctrl.toggleProfile($ctrl.profile)"></span>
            <span class="glyphicon glyphicon-map-marker inMap" ng-click="$event.stopPropagation(); $ctrl.showGeometry($ctrl.profile)"></span>
            <!-- <span class="glyphicon glyphicon-pencil changeStyle" ng-controller="SwcOpenStyleModalCtrl" ng-style="{color: $ctrl.profile.style.color}" ng-click="$event.stopPropagation(); openStyling($ctrl.profile)"></span> -->
            <!-- <span class="glyphicon glyphicon-info-sign showInfo" ng-click="$event.stopPropagation(); showInformation()"></span> -->
            <span class="glyphicon glyphicon-remove delete" ng-click="$event.stopPropagation(); $ctrl.removeProfile($ctrl.profile)"></span>
        </div>
        <swc-profile-combi-link profile="$ctrl.profile"></swc-profile-combi-link>
        <!-- <div class="collapseLegendEntry small">
                <div class="firstLastEntry additionalLegendEntry"
                     ng-controller="SwcJumpToFirstLatestValuesCtrl"
                     ng-show="series.firstValue"
                     ng-click="$event.stopPropagation(); jumpToFirstTimeStamp(series.firstValue)">
                    <span class="glyphicon glyphicon-chevron-right"></span>
                    <span translate="legend.entry.firstValueAt"></span>
                    <span>{{series.firstValue.timestamp| date: 'dd.MM.yy HH:mm'}}</span>
                    <span class="hidden-medium">({{series.firstValue.value}} {{series.uom}})</span>
                </div>
                <div class="firstLastEntry additionalLegendEntry"
                     ng-controller="SwcJumpToFirstLatestValuesCtrl"
                     ng-show="series.lastValue"
                     ng-click="$event.stopPropagation(); jumpToLastTimeStamp(series.lastValue)">
                    <span class="glyphicon glyphicon-chevron-right"></span>
                    <span translate="legend.entry.lastValueAt"></span>
                    <span>{{series.lastValue.timestamp| date: 'dd.MM.yy HH:mm'}}</span>
                    <span class="hidden-medium">({{series.lastValue.value}} {{series.uom}})</span>
                </div>
            </div> -->
    </div>
</div>
