<h4>{{$ctrl.timeseries.phenomenon.label}}</h4>
<div class="tsItem" ng-class="{selected : selected}">
    <div class="checkbox">
        <div class="glyphicon glyphicon-refresh loading icon-spin" ng-hide="$ctrl.timeseries.id"></div>
        <label>
            <input type="checkbox" ng-disabled="!$ctrl.timeseries.id" ng-model="$ctrl.timeseries.selected" ng-change="$ctrl.toggled()">
            <span>{{$ctrl.timeseries.procedure.label}}</span>
            <span ng-show="$ctrl.timeseries.category.label">({{$ctrl.timeseries.category.label}})</span>
        </label>
        <swc-favorite-add-star timeseries="$ctrl.timeseries"></swc-favorite-add-star>
        <div class="additionalInfo" ng-show="$ctrl.timeseries.lastValue">
            <span>{{$ctrl.timeseries.lastValue.value}} {{$ctrl.timeseries.uom}} ({{$ctrl.timeseries.lastValue.timestamp| date: 'dd.MM.yy HH:mm'}})</span>
        </div>
    </div>
</div>
