<div class="modal-content">
    <div class="modal-header">
        <!--<button type="button" class="close" data-dismiss="modal">&times;</button>-->
        <div class="modal-title">
            <span>{{'map.stationSelection.station' | translate}}</span>:
            <span>{{station.properties.label}}</span>
        </div>
    </div>
    <div class="modal-body stationContent">
        <div ng-repeat="timeseries in station.properties.timeseries">
            <h4>{{timeseries.phenomenon.label}}</h4>
            <div class="tsItem" ng-class="{selected : selected}">
                <div class="checkbox">
                    <label> 
                        <span class="glyphicon glyphicon-refresh loading icon-spin" ng-hide="timeseries.id"></span>
                        <input type="checkbox" ng-disabled="!timeseries.id" ng-model="timeseries.selected" ng-change="toggled()">
                        <span>{{timeseries.procedure.label}}</span>
                        <span ng-show="timeseries.category.label">({{timeseries.category.label}})</span>
                    </label>
                    <swc-favorite-add-star timeseries="timeseries"></swc-favorite-add-star>
                    <div class="additionalInfo" ng-show="timeseries.lastValue">
                        <span>{{timeseries.lastValue.value}} {{timeseries.uom}} ({{timeseries.lastValue.timestamp| date: 'dd.MM.yy HH:mm'}})</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="selectAllOption" ng-show="(station.properties.timeseries | objectCount) > 1">
            <hr>
            <div class="checkbox">
                <label>
                    <input type="checkbox" ng-click="toggleAll()" ng-model="isAllSelected">
                    <span translate="map.stationSelection.selectAllTimeseries"></span>
                </label>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-primary" id="confirmTimeseriesSelection" ng-click="addTimeseriesSelection()" translate="ok"></button>
    </div>
</div>