@import "../../../variables";
$combi-header-height: 30px;
n52-trajectories-view {
    width: 100%;
    .combi-mobile {
        height: 100%;
        width: 100%;
        position: relative;
        .combi-header {
            height: $combi-header-height;
            text-align: center;
            .header-button {
                float: right;
                +.header-button {
                    margin-right: 10px;
                }
            }
        }
        .combi-body {
            position: absolute;
            width: 100%;
            top: $combi-header-height;
            bottom: 0;
            .chart-container,
            .map-container {
                position: relative;
                height: 50%;
                .map {
                    .map-options {
                        position: absolute;
                        z-index: 11;
                        right: 10px;
                        top: 10px;
                    }
                    .map-buttons {
                        position: absolute;
                        z-index: 11;
                        bottom: 0;
                        width: 50%;
                        margin: 0 25% 17px;
                        text-align: center;
                    }
                }
            }
            .chart-container {
                display: -webkit-box;
                display: -moz-box;
                display: -ms-flexbox;
                display: -webkit-flex;
                display: flex;
                -webkit-flex-flow: row wrap;
                flex-flow: row wrap;
                >* {
                    flex: 1 100%;
                    height: 100%;
                }
                .chart-buttons {
                    padding: 10px;
                    flex: 0 0 30px;
                    .chart-control {
                        +.chart-control {
                            padding-top: 5px;
                        }
                    }
                }
                .chart {
                    flex: 1 0;
                    padding-left: 10px;
                    padding-bottom: 3px;
                    position: relative;
                    .chart-information {
                        position: absolute;
                        top: 10px;
                        left: 0px;
                    }
                }
                .legend {
                    flex: 0 250px;
                    padding: 5px 5px 0 0;
                    overflow: auto;
                    .legend-entry {
                        padding: 2px 0px;
                    }
                }
                .btn {
                    width: 42px;
                }
            }
        }
    }
}