@import "../variables.less";

.angular-leaflet-control-layers {
    position: absolute;
    background: white;
    z-index: 100;
    left: 10px;
    top: 80px;
    box-shadow: 1px 1px 5px #333;
    padding: 5px;
    .lf-overlays {
        border-top: lightgray solid 1px;
        padding-top: 5px;
    }
    .lf-row {
        label {
            cursor: pointer;
            margin: 0px;
            font-weight: normal;
            .lf-text {
                float: left;
            }
        }
        .lf-icon-ol-group {
            color: #00650a;
        }
        .lf-icon {
            cursor: pointer;
            float: left;
            margin-right: 5px;
            padding-top: 2px;
        }
        .lf-icons {
            float: right;
            display: none;
        }

    }
}