@import "../variables.less";

.map-buttons {
    position: absolute;
    z-index: 11;
    bottom: 0;
    width: 50%;
    margin: 0 25% 17px;
    text-align: center;
    .btn {
        padding: 4px 10px;
    }
}

// hide layer selector and zoom control
.leaflet-control-zoom,
.leaflet-control-layers
{
    display: none;
}

.map-control {
    box-shadow: 1px 1px 5px #333;
    .btn {
        border-width: 0px;        
    }
    a {
        color: @text-color; 
    }
    &:hover {
        background-color: @hover-background-color;
        opacity: 1;
    }
}

@media screen and (max-width: @responsive-mobile-width) {
    .phenomena {
        z-index: 9999;
        &.active {
            background-color: white;            
        }
    }
}