@import "../variables.less";
// hide layer selector and zoom control
.leaflet-control-layers,
.leaflet-control-zoom {
    display: none;
}
@media screen and (max-width: @responsive-mobile-width) {
    .phenomena {
        z-index: 9999;

        &.active {
            background-color: white;
        }
    }
}

.map-wrapper {
    position: relative;
}
