@import "../variables.less";

body,
html {
    height: 100%;
}

.navigation {
    flex: 0 0 50px;
}

.sub-menu {
    flex: 0 0 40px;
}

.content-wrapper {
    position: relative;
    overflow: auto;
    .content {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
    }
}

.fullHeight {
    height: 100%;
}

.noChart {
    text-align: center;
    margin: 30px;
}

.tab-content {
    padding: 10px;
    border: 1px solid #ddd;
    border-top: 0;
    overflow: auto;
}

swc-label-mapper {
    display: inline-block;
}
/* fix to support windows phone 8 */
@-webkit-viewport {
    width: device-width;
}
@-moz-viewport {
    width: device-width;
}
@-ms-viewport {
    width: device-width;
}
@-o-viewport {
    width: device-width;
}
@viewport {
    width: device-width;
}
