@import "../variables.less";

.navbar-default {
    border-color: white;
    background-color: @menu-background-color;
    margin: 0;
    border: none;
    .navbar-header {
        .navbar-brand {
            cursor: default;
            color: @text-color;
            width: 240px;
            margin: 0 auto;
            background: url(http://www.nexosproject.eu/sites/all/themes/nexosproject/images/set_nexos_new2.svg) 0 3px no-repeat;
            background-size: 600px;
            background-color: white;
            display: block;
        }
        .navbar-header-text {
            margin-left: 10px;
        }
        .button-right {
            float: right;
            margin-right: 10px;
        }
    }
    .navbar-nav{
        &>li {
            &>a {
                color: @menu-text-color;
                &:hover{
                    color: @menu-selected-text-color;
                    background-color: @menu-selected-background-color;
                    cursor: pointer;
                }
            }
        }
        &>.active {
            &>a {
                color: @menu-selected-text-color;
                background-color: @menu-selected-background-color;
                &:hover,
                    &:focus {
                    color: @menu-selected-text-color;
                    background-color: @menu-selected-background-color;
                }
            }
        }
    }
    .navbar-toggle{
        border: none;
        background-color: @menu-text-color;
        &:hover,
            &:focus,
            collapsed {
            background-color: @menu-text-color;
        }
    }

    .contact-button {
        color: @menu-text-color;
        float: right;
        height: 50px;
        line-height: 30px;
        padding: 10px;

        &:hover {
            cursor: pointer;
        }
    }
}
