@import "../variables.less";

.navbar-default {
    border-color: white;
    background-color: @menu-background-color;

    .navbar-header {
        .navbar-brand {
            cursor: pointer;
            color: @menu-text-color;
        }

        .navbar-header-text {
            margin-left: 10px;
        }

        .button-right {
            float: right;
            margin-right: 10px;
        }
    }

    .navbar-nav {
        & > li {
            & > a {
                color: @menu-text-color;

                &:hover {
                    color: @menu-selected-text-color;
                    background-color: @menu-selected-background-color;
                    cursor: pointer;
                }
            }
        }

        & > .active {
            & > a {
                color: @menu-selected-text-color;
                background-color: @menu-selected-background-color;

                &:focus,
                &:hover {
                    color: @menu-selected-text-color;
                    background-color: @menu-selected-background-color;
                }
            }
        }
    }

    .navbar-toggle {
        border: none;
        background-color: @menu-text-color;

        &:focus,
        &:hover,
        collapsed {
            background-color: @menu-text-color;
        }
    }
}
