@import "../variables.less";

.navbar {
    border-color: white;
    background-color: @menu-background-color;
    margin: 0;
    border: none;

    .navbar-brand {
        cursor: default;
        color: @menu-text-color;

        &:hover {
            color: @menu-selected-text-color;
        }
    }

    .navbar-nav {
        .nav-item {
            & > a {
                color: @menu-text-color;
            }

            &:hover {
                & > a {
                    color: @menu-selected-text-color;
                }
                background-color: @menu-selected-background-color;
                cursor: pointer;
            }

            &.active {
                & > a {
                    color: @menu-selected-text-color;
                    background-color: @menu-selected-background-color;

                    &:focus,
                    &:hover {
                        color: @menu-selected-text-color;
                        background-color: @menu-selected-background-color;
                    }
                }
            }
        }
    }

    .navbar-toggle {
        border: none;
        background-color: @menu-text-color;

        &:focus,
        &:hover,
        collapsed {
            background-color: @menu-text-color;
        }
    }
}
