@import "../variables.less";

.sub-menu {
    .nav {
        .nav-item {
            .nav-link {
                color: @text-color;
                border-radius: 0;

                &.active {
                    background-color: @selection-background-color;
                }

                &:hover {
                    background-color: @hover-background-color;
                }
            }
        }
    }
}
