@import '../../../../../variables';

:host {
    .item {
        &+.item {
            padding-top: 10px;
        }
        .selected {
            color: $selection-color;
            background-color: $selection-background-color;
        }
        &.error {
            display: none;
        }
        :hover {
            color: $hover-color;
            background-color: $hover-background-color;
        }
        label {
            margin-bottom: 0;
        }
    }
}
