$enable-rounded: false;

$primary: rgba(102, 197, 228, 1.0);
$secondary: rgba(98, 98, 80, 1.0);

$component-active-color: $secondary;
$component-active-bg: $primary;
$link-color: $secondary;

@import '../node_modules/bootstrap/scss/bootstrap';
$theme-colors: (
    primary: $primary,
    secondary: $secondary,
    success: $green,
    info: $cyan,
    warning: $yellow,
    danger: $red,
    light: $gray-100,
    dark: $gray-800
);
