<div class="hbox viewport">
    <div class="hbox boxItem">
        <div class="swc-page swc-page-current">
            <div class="fullHeight">
                <div class="col-xs-12 col-sm-8 col-lg-9 fullHeight">
                    <div class="visible-xs leftPanelButton" ng-controller="SwcPhenomenaButtonController">
                        <button type="button" class="btn btn-primary btn-xs" ng-hide="status.showPhenomena" ng-click="$event.stopPropagation(); togglePhenomena()">
                                <span ng-hide="selectedPhenomenon.selection.label" translate="main.allPhenomena"></span>
                                <span>{{selectedPhenomenon.selection.label}}</span>
                        </button>
                        <button type="button" class="btn btn-primary btn-xs" ng-show="status.showPhenomena" ng-click="$event.stopPropagation(); togglePhenomena()">X</button>
                    </div>
                    <div id="map" ng-controller="SwcBasicMapCtrl as mapCtrl">
                        <n52-station-map-selector [map-id]="'timeseries'" [service-url]="$ctrl.selectedProvider.providerUrl" [filter]="$ctrl.stationFilter" (on-station-selected)="$ctrl.stationSelected($event)" [map-layers]="$ctrl.layers" [cluster]="$ctrl.cluster" class="vbox boxItem"
                            style="height: 100%;"></n52-station-map-selector>
                        <n52-zoom-control [map-id]="'timeseries'"></n52-zoom-control>
                        <n52-locate-control [map-id]="'timeseries'"></n52-locate-control>
                    </div>
                </div>
                <div class="col-xs-8 col-sm-4 col-lg-3 fullHeight phenomena rightPanel" ng-controller="SwcPhenomenaButtonController" ng-class="{active:status.showPhenomena}">
                    <div class="phenomena-list">
                        <div class="selector-entry" ng-class="{selected: $ctrl.selectedPhenomenon == null}" ng-click="$ctrl.deselectPhenomenon();">
                            <span class="glyphicon glyphicon-refresh loading icon-spin"></span>
                            <span translate="main.allPhenomena"></span>
                        </div>
                        <hr>
                        <n52-service-filter-selector [endpoint]="'phenomenon'" [filter]="$ctrl.phenomenonFilter" [service-url]="$ctrl.selectedProvider.providerUrl" [selection-id]="$ctrl.selectedPhenomenon.id" (on-item-selected)="$ctrl.phenomenonSelected($event, true)"></n52-service-filter-selector>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
