/* colors */
/* mobile */
.map-control {
  z-index: 100;
  box-shadow: 1px 1px 5px #333;
}
.map-control .btn {
  border-width: 0px;
}
.map-control a {
  color: #0f426a;
}
.map-control:hover {
  background-color: #125080;
  opacity: 1;
}
