/* colors */
/* mobile */
.layers-control {
  position: absolute;
  left: 10px;
  top: 120px;
  border-radius: 5px;
}
.layers-control .angular-leaflet-control-layers {
  background: white;
  border-radius: 5px;
  box-shadow: 1px 1px 5px #333;
  padding: 5px;
}
.layers-control .angular-leaflet-control-layers .lf-overlays {
  border-top: lightgray solid 1px;
  padding-top: 5px;
}
.layers-control .angular-leaflet-control-layers .lf-row label {
  cursor: pointer;
  margin: 0px;
  font-weight: normal;
}
.layers-control .angular-leaflet-control-layers .lf-row label .lf-text {
  float: left;
}
.layers-control .angular-leaflet-control-layers .lf-row .lf-icon-ol-group {
  color: #00650a;
}
.layers-control .angular-leaflet-control-layers .lf-row .lf-icon {
  cursor: pointer;
  float: left;
  margin-right: 5px;
  padding-top: 2px;
}
.layers-control .angular-leaflet-control-layers .lf-row .lf-icons {
  float: right;
  display: none;
}
