/* colors */
/* mobile */
.map-buttons {
  position: absolute;
  z-index: 11;
  bottom: 0;
  width: 50%;
  margin: 0 25% 17px;
  text-align: center;
}
.map-buttons .btn {
  padding: 4px 10px;
}
.leaflet-control-zoom,
.leaflet-control-layers {
  display: none;
}
.map-control {
  box-shadow: 1px 1px 5px #333;
}
.map-control .btn {
  border-width: 0px;
}
.map-control a {
  color: #626250;
}
.map-control:hover {
  background-color: #bde6f3;
  opacity: 1;
}
@media screen and (max-width: 768px) {
  .phenomena {
    z-index: 9999;
  }
  .phenomena.active {
    background-color: white;
  }
}
