/* colors */
/* mobile */
.phenomena a:hover {
  text-decoration: none;
}
.phenomena .item {
  padding: 4px;
  border-radius: 8px;
  margin: 3px 0px 3px 0px;
  word-break: break-all;
  color: #444433;
}
.phenomena .item:hover {
  background-color: #dadada;
  color: #444433;
  cursor: pointer;
}
.phenomena .item.selected {
  background-color: #dadada;
  color: #444433;
}
.phenomena .phenomena-list {
  margin-top: 30px;
}
.phenomena .phenomena-list hr {
  margin-top: 5px;
  margin-bottom: 5px;
}
.phenomena .phenomena-list > a:nth-child(1) div {
  margin-top: 20px;
}
.phenomena .phenomena-list .loadPhen .loading {
  display: inline;
}
.phenomena .phenomena-list .loading {
  display: none;
}
