/* colors */
/* mobile */
.phenomena a:hover {
  text-decoration: none;
}
.phenomena .item {
  padding: 4px;
  border-radius: 8px;
  margin: 3px 0px 3px 0px;
  word-break: break-all;
  color: #626250;
}
.phenomena .item:hover {
  background-color: rgba(102, 197, 228, 0.2);
  color: #626250;
  cursor: pointer;
}
.phenomena .item.selected {
  background-color: #66c5e4;
  color: #626250;
}
.phenomena .phenomena-entry hr {
  margin-top: 5px;
  margin-bottom: 5px;
}
.phenomena .phenomena-entry > a:nth-child(1) div {
  margin-top: 20px;
}
.phenomena .phenomena-entry .loadPhen .loading {
  display: inline;
}
.phenomena .phenomena-entry .loading {
  display: none;
}
