/* colors */
/* mobile */
.provider-list {
  color: #626250;
}
.provider-list .provider-item {
  padding: 5px;
  border-radius: 8px;
}
.provider-list .provider-item + .provider-item {
  margin-top: 5px;
}
.provider-list .provider-item:hover {
  cursor: pointer;
  background-color: rgba(102, 197, 228, 0.2);
  color: #626250;
}
.provider-list .provider-item.selected {
  background-color: #66c5e4;
  color: #626250;
}
