/* colors */
/* mobile */
.provider-list {
  color: #444433;
}
.provider-list .provider-item {
  padding: 5px;
  border-radius: 8px;
}
.provider-list .provider-item + .provider-item {
  margin-top: 5px;
}
.provider-list .provider-item:hover {
  cursor: pointer;
  background-color: #dadada;
  color: #444433;
}
.provider-list .provider-item.selected {
  background-color: #dadada;
  color: #444433;
}
