/* colors */
/* mobile */
.stationContent {
  color: #626250;
}
.stationContent .tsItem {
  word-break: break-all;
}
.stationContent .tsItem .additionalInfo {
  font-size: 80%;
  color: grey;
}
.stationContent .backToChart {
  margin-top: 5px;
  cursor: pointer;
  text-align: center;
}
