/* colors */
/* mobile */
.axis path,
.axis line {
  fill: none;
  stroke: black;
  shape-rendering: crispEdge;
}
.axis text {
  font-family: sans-serif;
  font-size: 10px;
}
h1 {
  font-family: sans-serif;
  font-weight: bold;
  font-size: 16px;
}
.tick {
  stroke-dasharray: 1, 2;
}
.mouse-focus-line {
  pointer-events: none;
  stroke-width: 1px;
  stroke: black;
}
