<div class="time-range-slider" ng-if="$ctrl.timeList">
    <div class="slider-container">
        <div class="left-start">
            <span>{{$ctrl.start | date : 'dd.MM.yy HH:mm'}}</span>
        </div>
        <div class="center">
            <input id="slider" type="text"/>
        </div>
        <div class="right-end">
            <span>{{$ctrl.end | date : 'dd.MM.yy HH:mm'}}</span>
        </div>
    </div>
    <div class="selection" ng-if="$ctrl.selectionStart">
        <span>{{$ctrl.selectionStart | date : 'dd.MM.yy HH:mm'}}</span>
        <span> - </span>
        <span>{{$ctrl.selectionEnd | date : 'dd.MM.yy HH:mm'}}</span>
    </div>
</div>
