<div *ngIf="counter">
    {{counter}} timeseries are loading...
</div>

<div class="container">
    <div class="btn-group btn-group-toggle d-flex justify-content-center row" ngbRadioGroup name="radioBasic" [(ngModel)]="filterCategory">
        <label ngbButtonLabel class="col btn-primary">
            <input ngbButton type="radio" value="phenomenon">{{'timeseries.map-selection.group-phenomenon' | translate}}
        </label>
        <label ngbButtonLabel class="col btn-primary">
            <input ngbButton type="radio" value="category">{{'timeseries.map-selection.group-depth' | translate}}
        </label>
    </div>
</div>
<div>
    <div class="item" *ngFor="let timeseriesGroup of (filterCategory == 'phenomenon' ? phenomenonMap : categoryMap) | keyvalue">
        <div class="container">
            <div class="row">
                <div class="col-auto"><span class="fa fa-caret-right"></span></div>
                <div>
                    <div *ngIf="filterCategory == 'phenomenon'">{{timeseriesGroup.value[0].parameters.phenomenon.label}}</div>
                    <div *ngIf="filterCategory == 'category'">{{timeseriesGroup.value[0].parameters.category.label}}</div>
                    <div>        
                        <div class="item" *ngFor="let timeseries of timeseriesGroup.value">
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input" id="{{timeseries.id}}" (click)="toggle(timeseries)" [(ngModel)]="timeseries.selected">
                                <label *ngIf="filterCategory == 'phenomenon'" class="custom-control-label" for="{{timeseries.id}}">{{timeseries.parameters.category.label}}</label>
                                <label *ngIf="filterCategory == 'category'" class="custom-control-label" for="{{timeseries.id}}">{{timeseries.parameters.phenomenon.label}}</label>
                            </div> 
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

