:host {
    .item {
        &+.item {
            padding-top: 10px;
        }
        &.error {
            display: none;
        }
        label {
            margin-bottom: 0;
        }
    }
    .btn{
        flex: 1 0 0
    }
    .collapse-toggle {
        width: 20px;
        text-align: center;
    }
}