:host {
    .item {
        &+.item {
            padding-top: 10px;
        }
        &.error {
            display: none;
        }
        label {
            margin-bottom: 0;
            word-break: break-all;
        }
    }
    .btn{
        flex: 1 0 0
    }
    .collapse-toggle {
        div, label{
            &:hover {
                cursor: pointer;
            }
        }
    }
    .collapse-icon {
        width: 20px;
        text-align: center;
    }
    .item-label{
        word-break: break-all;
    }
}