<div ng-if="$ctrl.loadingCount > 0">
    <span>Requesting {{$ctrl.loadingCount}} services...</span>
</div>
<div class="provider-list">
    <div class="provider-item" ng-repeat="provider in $ctrl.providers | orderBy:'+label'" ng-click="$ctrl.selectProvider(provider)" ng-class="{'selected': $ctrl.selectedProvider.id === provider.id && $ctrl.selectedProvider.providerUrl === provider.providerUrl}">
        <div>{{provider.label}}</div>
        <div class="small">{{provider.type}},
            {{provider.version}}</div>
        <div class="small">{{provider.url}}</div>
        <div class="small" ng-if="provider.serviceUrl">
            <span translate="providerList.serviceUrl"></span>:
            <span>{{provider.serviceUrl}}</span>
        </div>
        <div class="small">
            <span ng-if="provider.quantities.stations">
              <span translate="providerList.stations"></span>:
              <span>{{provider.quantities.stations}}</span>
            </span>
            <span ng-if="provider.quantities.platforms">
              <span translate="providerList.platforms"></span>:
              <span>{{provider.quantities.platforms}}</span>
            </span>
            <span ng-if="provider.quantities.timeseries">
              <span translate="providerList.timeseries"></span>:
              <span>{{provider.quantities.timeseries}}</span>
            </span>
            <span ng-if="provider.quantities.datasets">
              <span translate="providerList.datasets"></span>:
              <span>{{provider.quantities.datasets}}</span>
            </span>
            <span translate="providerList.phenomena"></span>:
            <span>{{provider.quantities.phenomena}}</span>
        </div>
    </div>
</div>
