n52-list-selection {
    width: 100%;
    .wrapper {
        height: 100%;
        ngb-tabset {
            display: flex;
            flex-direction: column;
            height: 100%;
            .tab-content {
                flex: 1;
                display: flex;
                flex-direction: column;
                padding: 20px;
                overflow: hidden;
                .tab-pane{
                    display: flex;
                    flex-direction: column;
                    flex: 1;
                    overflow: auto;
                }
            }
        }
    }
    .scrollable {
        width: 100%;
        overflow-y: auto;
        display: inline-block;
    }
}