<div class="wrapper">
  <ngb-tabset #tabset="ngbTabset" justify="fill">
    <!-- <ngb-tab id="selectProvider">
      <ng-template ngbTabTitle>{{'timeseries.list-selection.provider' | translate}}</ng-template>
      <ng-template ngbTabContent>
        <div class="scrollable border">
          <n52-custom-service-selector [datasetApiList]="datasetApis" [providerBlacklist]="providerBlacklist" [selectedService]="selectedService"
            [supportStations]="true" [showUnresolvableServices]="true" [filter]="providerFilter" [addedService]="addedService" (onServiceSelected)="providerSelected($event)"></n52-custom-service-selector>
        </div>
        <n52-custom-service-provider-manager  [datasetApiList]="datasetApis" [providerBlacklist]="providerBlacklist" [services]="services"
        [supportStations]="true" [filter]="providerFilter" (onServiceAdded)="serviceAdded($event)"></n52-custom-service-provider-manager>
      </ng-template>
    </ngb-tab> -->
    <ngb-tab id="selectByCategory" [disabled]="selectedService == undefined">
      <ng-template ngbTabTitle>{{'timeseries.list-selection.category' | translate}}</ng-template>
      <ng-template ngbTabContent>
        <div class="scrollable container">
          <n52-custom-list-selector [parameters]="categoryParams" [selectorId]="'category'" [filter]="parameterFilter"
            [providerList]="selectedProviderList" (onDatasetSelection)="onDatasetSelected($event)">
          </n52-custom-list-selector>
        </div>
      </ng-template>
    </ngb-tab>
    <ngb-tab id="selectByStation" [disabled]="selectedService == undefined">
      <ng-template ngbTabTitle>{{'timeseries.list-selection.station' | translate}}</ng-template>
      <ng-template ngbTabContent>
        <div class="scrollable container">
          <n52-custom-list-selector [parameters]="stationParams" [selectorId]="'station'" [filter]="parameterFilter"
            [providerList]="selectedProviderList" (onDatasetSelection)="onDatasetSelected($event)">
          </n52-custom-list-selector>
        </div>
      </ng-template>
    </ngb-tab>
    <ngb-tab id="selectByPhenomenon" [disabled]="selectedService == undefined">
      <ng-template ngbTabTitle>{{'timeseries.list-selection.phenomenon' | translate}}</ng-template>
      <ng-template ngbTabContent>
        <div class="scrollable container">
          <n52-custom-list-selector [parameters]="phenomenonParams" [selectorId]="'phenomenon'" [filter]="parameterFilter"
            [providerList]="selectedProviderList" (onDatasetSelection)="onDatasetSelected($event)">
          </n52-custom-list-selector>
        </div>
      </ng-template>
    </ngb-tab>
    <ngb-tab id="selectBySensor" [disabled]="selectedService == undefined">
      <ng-template ngbTabTitle>{{'timeseries.list-selection.sensor' | translate}}</ng-template>
      <ng-template ngbTabContent>
        <div class="scrollable container">
          <n52-custom-list-selector [parameters]="procedureParams" [selectorId]="'procedure'" [filter]="parameterFilter"
            [providerList]="selectedProviderList" (onDatasetSelection)="onDatasetSelected($event)">
          </n52-custom-list-selector>
        </div>
      </ng-template>
    </ngb-tab>
  </ngb-tabset>
</div>
